@for $i from 1 through 12 {
	.d#{$i} {
		width: gridCalc(1,$i);
	}
}



@for $i from 1 through 12 {
	.c#{$i} {
		width: gridCalc($i,12);
	}
}

.grid-wrapper--nest {
	margin-left: gutter(-1);
}

.grid-wrapper--nest {
	.col {
		padding-left: gutter(1);
	}
}