 /*==========  FADE ANIMATIONS  ==========*/

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.slide {
	position: relative;

  // demo
}

.slide__list {
  position: relative;
  overflow: hidden;
}

.slide__item {
  visibility: hidden;
  position: absolute;
  width: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.slide__item--current {
  visibility: visible;
  position: relative;
}

.slide__item--hidePrevious,
.slide__item--hideNext {
  visibility: visible;
  animation: fadeOut 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.slide__item--hidePrevious,
.slide__item--hideNext { z-index: 2; }
.slide__item--showPrevious,
.slide__item--showNext { z-index: 1; }


.slide__pager {
  position: absolute;
  bottom: gutter(2);
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.slide__pager-item {
  display: inline-block;
  margin: 0 gutter(1);
}

.slide__pager-link {
  display: block;
  width: 10px;
  height: 10px;
  background-color: $white;
  border-radius: 100%;
  border: 1px solid $black;
}