
// boilerplate form styles
// core block styles
// input reset
input[type="submit"],
input[type="search"],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}

textarea {
    // -moz-appearance: none;
    // -webkit-appearance: none;
    // appearance: none;
    border-radius: 0;
}

input,select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
	border-radius: 0;
}


// select:focus,
// input:focus {
// 	outline: 0;
// }

// remove border and margin from fieldsets
fieldset {
	margin: 0;
	border: 0;
}



.form__input {
	border: 0;
	//border-bottom: 3px solid c(theme,about);
	background-color: transparent;
	text-align: center;
	color: $white;

	&:focus {
		outline: 0;
	}

	@media screen and (min-width:0\0) {
		height: 46px;
	}
}

.form__textarea {
	resize: none;
	height: 36px;
	@include mq($break-tablet, min) {
		padding-bottom: gutter(.5);
	}
}

// .form__select {
// 	position: relative;

// 	// use pseudo elements to cover native dropdown
// 	&:before,
// 	&:after {
// 		content: " ";
// 	}
// }

// .form__toggle {
// 	@include reset-input();
// 	& + label {
// 		&:before {
// 			content: " ";
// 		}
// 	}
// }

// .form__toggle--radio {
// 	& + label {
// 		&:before {
// 			width: 30px;
// 			height: 30px;
// 			border-radius: 100%;
// 			border: 1px solid $base-grey;
// 			display: inline-block;
// 		}
// 	}
// 	// checked sate
// 	&:checked + label {
// 		&:before {

// 		}
// 	}
// }

// .form__toggle--check {
// 	& + label {
// 		&:before {
// 			width: 30px;
// 			height: 30px;
// 			border: 1px solid $base-grey;
// 			display: inline-block;
// 		}
// 	}

// 	// checked sate
// 	&:checked + label {
// 		&:before {

// 		}
// 	}
// }

a:focus {
	outline: 0;
}

.button {
	&:focus {
		outline: 0;
	}
}

.form {
	transition: all .3s;
}

@include placeholder {
	@include font-type(display);
}

@keyframes submitting {
	0 {
		box-shadow:4px 0 0 0 c(theme,about), 12px 0 0 0 $base-grey,20px 0 0 0 $base-grey;
	}
	50% {
		box-shadow:4px 0 0 0 c(theme,about),12px 0 0 0 c(theme,about),20px 0 0 0 $base-grey;
	}
	100% {
		box-shadow:4px 0 0 0 c(theme,about),12px 0 0 0 c(theme,about),20px 0 0 0 c(theme,about);
	}
}

@keyframes submitting-contact {
	0 {
		box-shadow:4px 0 0 0 c(theme,contact), 12px 0 0 0 c(bg,light),20px 0 0 0 c(bg,light);
	}
	50% {
		box-shadow:4px 0 0 0 c(theme,contact),12px 0 0 0 c(theme,contact),20px 0 0 0 c(bg,light);
	}
	100% {
		box-shadow:4px 0 0 0 c(theme,contact),12px 0 0 0 c(theme,contact),20px 0 0 0 c(theme,contact);
	}
}

.is-submitting {
	background: none !important;
	color: c(theme,about);
	&:after {
		content: '';
		display: inline-block;
		width: 4px;
		height: 4px;
		border-radius: 100%;
		box-shadow:4px 0 0 0 c(theme,about), 12px 0 0 0 $base-grey,20px 0 0 0 $base-grey;
		animation: submitting 2s infinite both;
	}
}

.t-contact {
	.is-submitting {
		color: c(theme,contact);
		&:after {
			animation-name: submitting-contact;
			box-shadow:4px 0 0 0 c(theme,contact), 12px 0 0 0 c(bg,light),20px 0 0 0 c(bg,light);
		}
	}
}


@keyframes errorFade {
	100% {
		opacity: 1;
	}
}

.input {
	position: relative;
}

label.error {
	@include font-size(14);
	@include position(absolute, -9px 0 null null);
	display: inline-block;
	padding: gutter(.25);
	background-color: c(theme,contact);
	animation: errorFade 1s forwards;
	opacity: 0;
	color: $white;
	z-index: 1;
	@include mq($break-900, min) {
		top: 0;
	}

	@include fallback(animations) {
		opacity: 1;
	}
}


.form--signup {
	
	.input {
		margin-bottom: gutter(1);
	}

	.form__label {
		display: none;
	}

	label.error {
		top: -9px;
	}

	@include placeholder {
		color: $white;
	}

	.form__input {
		color: $white;
		padding: 0;
		width: 100%;
	}

	.btn-link {
		color: c(theme,about);
	}

	@include mq($break-large, min) {
		label.error {
			top: -2px;
		}
	}
}



.form--lines {
	@include font-type(display);
	.form__input {
		border: 0;
		//border-bottom: 3px solid c(theme,about);
		background-color: transparent;
		background-position-y: 85%;
		text-align: center;
		line-height: 2;
		@include mq($break-600, min) {
			text-align: left;
		}

		&:focus {
			outline: 0;
		}
	}
}


.button--submit {
	@include mq($break-900, min) {
		@include font-size(22);
	}
}


.form--search {
	@include position(absolute, 13px 0 null null);
	padding: 0 gutter(1) 0 gutter(2);
	width: gutter(7);
	transition: all .3s;
	z-index: 1;
	height: 36px; // same as the input
	margin: auto;

	@include mq($break-600, min) {
		width: gutter(8.125);
		padding-right: gutter(2);
	}

	@include placeholder() {
		color: $base-grey;
	}
	


	.button--search {
		@include position(absolute, 3px null null -1px);
		&:before {
			@include font-size(30,false);
		}
	}
	.button--close {
		@include position(absolute, 2px gutter(1) null null);
		opacity: 0;
		transition: all .3s;
		z-index: -1;
		color: darken(c(bg,light),10%);
	}
	.form__input {
		@include font-type(display);
		padding-left: 0;
		display: block;
		text-align: left;
		margin: auto;
		color: $base-grey;
		width: 100%;
		height: 36px; // same as the input

		@include mq(600, min) {
			@include font-size(22,28);
		}
	}

	&.is-active {
		width: 100%;
		padding: 0 gutter(3);
		@include placeholder() {
			color: c(bg,light);
		}
		
		.button--search {
			left: gutter(1);
		}

		.button--close {
			opacity: 1;
		}

		// .form__input {
		// 	border-bottom-color: c(bg,light);
		// }
	}
}

.form--contact {
	width: 100%;
	margin-bottom: gutter(2);
	background-color: c(bg,light);

	.button--close {
		color: c(theme,contact);
		position: absolute;
    top: -40px;
    right: 0;
	}
	
	@include mq($break-tablet, min) {
		margin-bottom: 0;
	}
	
	.input {
		margin-bottom: gutter(1);
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.form__input {
		//border-bottom-color: c(theme,contact);
		text-align: left;
		width: 100%;
		transition: all .3s;
		padding-left: 0;
		@include mq($break-900, min) {
			@include font-size(22,false);
		}
		&:focus {
			padding-left: gutter(.5);
			padding-right: gutter(.5);
			color: c(form,placeholder);
		}
		&,
		&.is-keydown {
			color: $base-grey;	
		}
	}

	.form__textarea {
		height: 36px;
		background-color: c(bg,light);
		//line-height: 1;
		@include mq($break-900, min) {
			height: 50px;
		}
		&.is-message {
			height: 200px;
			line-height: 1;
			background-position-y: 100%;
		}
	}

	// .btn-link {
	// 	color: $base-grey;	
	// 	border-bottom-color: c(theme,contact);
	// }

	@include placeholder() {
		color: inherit;
	}
}
