// boilerplate navigation styles
// not much styling, just resetting

// reset the list style
.nav {
	list-style:none;
	margin: 0;
	padding: 0;
}

// removed - to specific at this level
// .nav--flat {
//     > li {
//     	display: inline-block;
//     }
// }

// // forces nav in to a vertical list
// .nav--stacked {
//     > li {
//         display:block;
//     }
// }

