// /*
//  ==============================================================
//  Typography
//  ==============================================================
//  */
//@include baseline();
@include type-reveal();

html {
	font-family: map-get($fonts, default);
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: c(type, base);
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6,
h1,
h2,
h3,
h4,
h5,
h6 {}

.heading-1,
h1 {}

.heading-2,
h2 {}

.heading-3,
h3 {}

.heading-4,
h4 {}

.heading-5,
h5 {}

.heading-6,
h6 {}

p {
	margin: 0 0 gutter(1);
}

b,
strong {
	font-weight: normal;
}

em {
	font-style: normal;
}

a {
	text-decoration: none;
	color: inherit;
	transition: opacity 0.3s ease;

	&:hover {
		opacity: 0.5;
	}
}

address {
	font-style: normal;
}

