// /*
//  ==============================================================
//  Typography
//  ==============================================================
//  */

//@include baseline();
//@include type-reveal();

html {
    @include font-baseline();
}

html,body {
	font-family: 'Raleway', sans-serif;
}

body {
	@include font-type('base');
	@include font-size($base-font-size);
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h1,.heading-1 {
	@include font-type(bold);
	@include font-size(size(h3));
	margin: 0 0 gutter(1);
}


h2,.heading-2 {
	@include font-type(bold);
	@include font-size(size(h4));
	margin: 0 0 gutter(1);
}

h3,.heading-3 {
	@include font-type(bold);
	@include font-size(size(h5));
	margin: 0 0 gutter(1);
}

h4,.heading-4 {
	@include font-type(bold);
	@include font-size(size(h6));
	margin: 0 0 gutter(1);
}

h5,.heading-5 {
	@include font-type(bold);
	@include font-size(size(h6));
	margin: 0 0 gutter(1);
}

h6,.heading-6 {
	@include font-type(bold);
	@include font-size(size(h6));
	margin: 0 0 gutter(1);
}

p {
	margin: 0 0 gutter(1);
}

strong,b {
	font-weight: normal;
	@include font-type(bold);
}

em {
	font-style: normal;
	@include font-type(italic);
}


a {
	text-decoration: none;
	color: inherit;
	&:hover {
		color: c(link,hover);
	}
}
