.wrapper {
	@include g-wrapper();
	padding-left: gutter(1);
	padding-right: gutter(1);
}

.slice {
	padding-top: gutter(1);
	padding-bottom: gutter(1);
	position: relative;
	z-index: 10;
}

.slice__heading {
	@include font-size(ms(3));
	padding-bottom: gutter(.25);
	border-bottom: 3px solid c(themes,blog);
}

.is-active {
	color: red;
}

.g-wrap {
	@include g-row($inc_gutter: false, $space-below: false);
}

.content {
	display: none;
	&.is-active {
		display: block;
	}

	// p {
	// 	margin-bottom: 0;
	// }
}