@mixin placeholder(){
  ::-webkit-input-placeholder {
     @content;
  }
  
  :-moz-placeholder { /* Firefox 18- */
     @content;
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
     @content;
  }
  
  :-ms-input-placeholder {  
     @content;
  }
}

@mixin fancy-input($position: before) {

	// hide the default radio input
	display: none;
	// create a radio button style using the 
	& + label:#{$position} {
		content: " ";
		@content;		
	}
}

@mixin fancy-input-checked($target: before) {
	
	&:checked + label:before {
		@content;
	}
}

// example
// - @include mq('min', '40px') {stuff:here}
@mixin mq($str,$bp) {
  $string: 'only screen and ';
  $output: null;
  
  $output: $string + '(#{$str}-width:#{$bp})';

  @media #{$output} {
    @content;
  }
 // test: $type;
}
// example
// - @include mq(340px 679px) {stuff:here}
@mixin between($bps) {
  $min: nth($bps,1);
  $max: nth($bps,2);
  $string: 'only screen and ';
  $output: $string + '(min-width:#{$min})' + ' and '+ '(max-width:#{$max})';
  @media #{$output} {
    @content;
  }
}
    