@mixin placeholder(){
  ::-webkit-input-placeholder {
     @content;
  }
  
  :-moz-placeholder { /* Firefox 18- */
     @content;
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
     @content;
  }
  
  :-ms-input-placeholder {  
     @content;
  }
}

// reset radio/checkbox
@mixin reset-input() {
  opacity: 0;
  width: 0;
  height: 0;
}

// call on the input (radio/checkbox)
@mixin fancy-input($position: before) {

  // hide the default radio input
  // opacity: 0;
  // create a radio button style using the 
  & + label:#{$position} {
    content: " ";
    @content;   
  }
}

// call on the input (radio/checkbox) for the checked state
@mixin fancy-input-checked($target: before) {
  
  &:checked + label:before {
    @content;
  }
}


// example
// - @include mq('min', '40px') {stuff:here}
// debug option - this can only be used when mixin is declared at the root
// until libsass supports @at-root{}
@mixin mq($bp: 320, $type: min, $orientation: null, $property: width, $debug: false) {
  $min: null;
  $max: null;
  $break: null;


    @if type-of($bp) == list {
        $min: nth($bp,1) * 1px;
        $max: nth($bp,2) * 1px;
        @if $orientation == null {
          @media only screen and (min-#{$property}: $min) and (max-#{$property}: $max) {
            @content;


            // debugger
            @if $debug == true {
              @include mq-debug($bp,$type,$orientation,$property);
            }


          }
        } @else {
          @media only screen and (min-#{$property}: $min) and (max-#{$property}: $max) and (orientation : $orientation) {
            @content;


            // debugger
            @if $debug == true {
              @include mq-debug($bp,$type,$orientation,$property);
            }


          }
        }
    } @else {
      $break: $bp * 1px;
      @if $orientation == null {
        @media only screen and (#{$type}-#{$property}: $break) {
          @content;


            // debugger
            @if $debug == true {
              @include mq-debug($bp,$type,$orientation,$property);
            }


        }

      } @else {
        @media only screen and (#{$type}-#{$property}: $break) and (orientation : $orientation) {
          @content;
            // debugger
            @if $debug == true {
              @include mq-debug($bp,$type,$orientation,$property);
            }
        }
      }
    }

}

@mixin mq-debug($bp: null, $type: null, $orientation: null, $property: null) {
    body {
      &:after {
          @include position(fixed, null null 0 0);
          color: $white;
          padding: 5px;
          font-size: 12px;
          content: " ";
          display: block;
          z-index: 100;
          background-color: rgba(0,0,0,0.8);
          content: '#{$bp} #{$type} #{$orientation} #{$property}';
      }
    }

}



// taken from 
// https://github.com/at-import/toolkit/blob/2.x.x/stylesheets/toolkit/_triangle.scss
@mixin triangle($color: null, $height: null, $width: null, $angle: null) {

  @if nth($angle, 1) == "top" or nth($angle, 1) == "bottom" {
    $angle: "#{$angle}";
  }

  @if $angle == "top" {
    $angle: 0;
  }
  @if $angle == "top right" {
    $angle: 45 * 7;
  }
  @if $angle == "right" {
    $angle: 45 * 2;
  }
  @if $angle == "bottom right" {
    $angle: 45 * 1;
  }
  @if $angle == "bottom" {
    $angle: 45 * 4;
  }
  @if $angle == "bottom left" {
    $angle: 45 * 3;
  }
  @if $angle == "left" {
    $angle: 45 * 6;
  }
  @if $angle == "top left" {
    $angle: 45 * 5;
  }
  // 
  // @if unit($height) == "" or unit($height) == "%" {
  //   @debug "in triangle #{$height} is not a compatible unit for height."
  // }

  // @if unit($width) == "" or unit($width) == "%" {
  //   @debug "in triangle #{$width} is not a compatible unit for width."
  // }

  // offset 45deg to make each side start at 0
  $deg: $angle + 45;
  // if units, remove units
  @if unit($deg) == deg {
    $deg: $deg / 1deg;
  }
  // shift to be on a scale from 0 to 90.
  @while $deg > 90 {
    $deg: $deg - 90;
  }
  @while $deg < 0 {
    $deg: $deg + 90;
  }
  // Get a ratio of 90 to multiply by.
  $deg: $deg / 90;

  // make sure metrics are reset
  display: block;
  width: 0;
  height: 0;
  border: 0 solid transparent;

  // run through sides
  @if $angle <= 45 or $angle > 315 {
    border-bottom-color: $color;
    border-width: 0 ($width * abs($deg - 1)) $height ($width * $deg);
  }
  @if $angle > 45 and $angle <= 135 {
    border-left-color: $color;
    border-width: ($height * $deg) 0 ($height * abs($deg - 1)) $width;
  }
  @if $angle > 135 and $angle <= 225 {
    border-top-color: $color;
    border-width: $height ($width * $deg) 0 ($width * abs($deg - 1));
  }
  @if $angle > 225 and $angle <= 315 {
    border-right-color: $color;
    border-width: ($height * abs($deg - 1)) $width ($height * $deg) 0;
  }
}

// gradient underlines

// <div>
//   <span class="underline" style="display: inline;">bla bla</span>
// </div>

@mixin underline($color, $line-height: 1rem, $bg: transparent, $weight: 1px) {
    @include background-image(linear-gradient(to bottom,($bg 50%, palette(themes,us) 50%)));
    background-repeat: repeat-x;
    background-position: 0 $line-height;
    background-size: $weight $weight;
}
        



@mixin debugger($psuedo: false, $color: red) {
  outline: 1px dotted $color;
  @if $psuedo == true {
    &:before,
    &:after {
      outline: 1px dotted darken($color,10%);
    }
  }
}