/*
    File: _assets/css/scss/_libs-functions.scss
*/
// Typography

@function size($size) {
	@return map-get($font-size, $size);
}

@function computeLineHeight($font-size, $computed) {
  $fs: strip-units($font-size);
  @return $computed / $fs;
}

// Map helpers

// thanks to @ericmsuzanne for this function
@function map-set($map, $key, $value) {
  $new: ($key: $value);
  @return map-merge($map, $new);
}




// Layout

@function r($lines: 1, $gutter: $base-padding) {
	@return rem(($gutter * $lines));
}


@function gutter($lines: 1, $gutter: $base-padding) {
	@return ($gutter * $lines) * 1px;
}

@function gridCalc($columns,$total_coloumns: $base-max-columns) {
	@return percentage($columns / $total_coloumns);
}

@function context($width, $max-width: $base-max-width) {
	@return percentage($width / $max-width);
}

// help funtions

@function strip-units($value) {
	@return $value / ($value * 0 + 1);
}

@function rem($font-size) {
	@return ($font-size / $base-font-size) * 1rem;
}


// colour functions
// Add percentage of white to a color
@function tint($color, $percent){
 	@return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent){
 	@return mix(black, $color, $percent);
}

// http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
// use eg palette(accent,light)
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

@function theme($tone) {
	@return map-get(map-get($palettes, 'themes'), $tone);
}


@function opposite($arg) {
	$output: null;
	@if $arg == left {
		$output: right;
	}
	@if $arg == right {
		$output: left;
	}
	@if $arg == top {
		$output: bottom;
	}
	@if $arg == bottom {
		$output: top;
	}
	@return $output;
}