

// image wrapper or aspect ratio
@mixin image-wrapper($aspect-ratio: 16 9, $max-height: false, $max-width: false, $image-settings: true) {

	@if $max-height != false {
		max-height: $max-height;
	}

	@if $image-setting == true {
		background-size: cover;
		background-repeat: no-repeat;
	}

	$x: nth($aspect-ratio,1);
	$y: nth($aspect-ratio,2);

	@if type-of($max-width) == number {
		max-width: $max-width;
	}

	&:before {
		padding-bottom: fn-gridCalc($y,$x);
		content: " ";
		display: block;
	}
}



@mixin sprite-file($img: $sprite) {
    background: url($img) no-repeat;
} 

@mixin sprite-modifier($sprite) {
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

