

// image wrapper or aspect ratio
@mixin image-wrapper($aspect-ratio: 16 9, $max-height: false, $imageSettings: true) {

	@if $max-height != false {
		max-height: $max-height;
	}

	@if $imageSettings == true {
		background-size: cover;
		background-repeat: no-repeat;
	}

	$x: nth($aspect-ratio,1);
	$y: nth($aspect-ratio,2);


	&:before {
		padding-bottom: gridCalc($y,$x);
		content: " ";
		display: inline-block;
	}
}


// Sprite 
@function sprite-spacing($sprite, $property: width, $excess: 0) {
	$ext: if($property == width, 5, 6);
	// 5 == width
	// 6 == height
	$spacing:  nth($sprite, 5);
	@return $spacing + $excess;
}


@mixin sprite-file() {
    background: url($png-sprite) no-repeat;
} 

@mixin sprite-modifier($sprite) {
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}


// svg sprite functions

// Gets an attribute from the sass mapp
@function sprite-attr($icon, $attr) {
	$icon: map-get($icons, $icon);
	@return map-get($icon, $attr);
}

// using the above function, this function will return a map with the width and height
@function svg-attr($icon) {
	$attr: (
		name: sprite-attr($icon, name),
		width: sprite-attr($icon, width),
		height: sprite-attr($icon, height),
		x: sprite-attr($icon, backgroundX),
		y: sprite-attr($icon, backgroundY)
	);
	@return $attr;
}

// svg sprite mixin, with fallback for ie
// $ie is set to true in ie.scss
@mixin svg($sprite) {
	$svg-props: svg-attr($sprite);
	@if $ie == true {
		@include sprite(map-get($svg-props, name));
	} @else {
		background: url($svg-sprite) map-get($svg-props, x) map-get($svg-props, y) no-repeat; 
		width: map-get($svg-props, width);
		height: map-get($svg-props, height);  
	}
}

@mixin svg-height($sprite) {
	$svg-props: svg-attr($sprite);
	height: map-get($svg-props, height);  
}

@mixin svg-width($sprite) {
	$svg-props: svg-attr($sprite);
	width: map-get($svg-props, width);  
}

@mixin svg-position($sprite) {
	$svg-props: svg-attr($sprite);
	@if $ie == true {
		@include sprite-width(map-get($svg-props, name));
  		@include sprite-height(map-get($svg-props, name));
	} @else {
		width: map-get($svg-props, width);
		height: map-get($svg-props, height);  
	}
}

@mixin svg-size($sprite) {
	$svg-props: svg-attr($sprite);
	@if $ie == true {
		@include sprite-position(map-get($svg-props, ie));
	} @else {
		background-position: map-get($svg-props, x) map-get($svg-props, y); 
	}
}



@mixin resize-svg($svg, $size: null, $dimension: width) {
	
	$width:  map-get(map-get($svgs, $svg), width);
	$height: map-get(map-get($svgs, $svg), height);
	$d: null;

	@if $dimension == width {
		$d: $width;
	} @else {
		$d: $height;
	}

	$ratio: $size / $d;


	@if $dimension == width {
		width: $size * 1px;
		height: ($height * $ratio) * 1px;
	} @else {
		width: ($width * $ratio) * 1px;
		height: $size * 1px;
	}

} 


