// ADD FONTS TO DOC – $font-family, $font-url, $font-name
@include ff('GothamRounded-Bold', '../fonts/GothamRounded-Bold', 'GothamRounded-Bold');

svg {
	max-height: 100%;
} 

// SITE COLOUR THEMING – delete if not needed.
@each $theme, $color in $themes {

	.theme--#{$theme} {
		// background-color: gamma($color);
		
		.theme {
			//color:$color;

			&--color {
				color:$color;

				&.beta{
					color:beta($color)
				}
				&.gamma {
					color:gamma($color)
				}
				&.delta {
					color:delta($color)
				}
			}

			&--bg {
				background-color:$color;

				&.beta{
					background-color:beta($color)
				}
				&.gamma {
					background-color:gamma($color)
				}
				&.delta {
					background-color:delta($color)
				}
			}
		}
	}
} 

.wrapper {
	@include wrapper();
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

.grid-wrapper {
	@include cf();
}

.slice {
	padding-top: gutter(1);
	padding-bottom: gutter(1);

	&--top {
		padding-top:gutter(1);
	}

	&--bottom {
		padding-bottom:gutter(1);
	}

	&--double {
		padding-top: gutter(2);
		padding-bottom: gutter(2);

		&--top {
			padding-top:gutter(2);
		}

		&--bottom {
			padding-bottom:gutter(2);
		}
	}

	&--triple {
		padding-top: gutter(3);
		padding-bottom: gutter(3);

		&--top {
			padding-top:gutter(3);
		}

		&--bottom {
			padding-bottom:gutter(3);
		}
	}
}