body {
    &:after {
        @include position(fixed, null null 0 0);
        color: $white;
        padding: 5px;
        font-size: 12px;
        content: " ";
        display: block;
        z-index: 100;
        background-color: rgba(0,0,0,0.8);
        content: "core";
    }
    @include mq($break-tiny, min) {
        &:after {
            content: "min-width: break-tiny";
        }
    }
    @include mq($break-small, min) {
        &:after {
            content: "min-width: break-small";
        }
    }
    @include mq($break-large, min) {
        &:after {
            content: "min-width: break-large";
        }
    }
    @include mq($break-massive, min) {
        &:after {
            content: "min-width: break-massive";
        }
    }
}