/*
    File: _assets/css/scss/_views-desktop.scss
        This is the desktop view CSS.
        XXXpx and up (breakpoint defined in _libs-vars.scss)

        1.  Baseline
            Core/generic rules for this context

        2.  Layout
            Page layout rules, eg for columns

        3.  Typography
            Typographic rules: headings, lists, etc

        4.  Elements
            HTML elements base rules

        5.  Components
            Components within the site, eg navigation, carousels, etc
            Ideally context and element agnostic

        6.  Exceptions
            Media queries targetting specific/edge-case CSS

        7.  Hacks
            Idiosyncratic styles for browser support, etc

*/


// === 1.  Baseline

// === 2.  Layout

// === 3.  Typography

// === 4.  Elements

// === 5.  Components

// === 6.  Exceptions

// === 7.  Hacks