@include ff('GothamRounded-Bold', '../fonts/GothamRounded-Bold', 'GothamRounded-Bold');
//@include ff('GothamRounded-BoldItalic', '../fonts/GothamRounded-BoldItalic', 'GothamRounded-BoldItalic');
@include ff('GothamRounded-Book', '../fonts/GothamRounded-Book', 'GothamRounded-Book');
//@include ff('GothamRounded-BookItalic', '../fonts/GothamRounded-BookItalic', 'GothamRounded-BookItalic');
//@include ff('GothamRounded-Light', '../fonts/GothamRounded-Light', 'GothamRounded-Light');
//@include ff('GothamRounded-LightItalic', '../fonts/GothamRounded-LightItalic', 'GothamRounded-LightItalic');
@include ff('GothamRounded-Medium', '../fonts/GothamRounded-Medium', 'GothamRounded-Medium');
//@include ff('GothamRounded-MediumItalic', '../fonts/GothamRounded-MediumItalic', 'GothamRounded-MediumItalic');
@include ff('Verveine-Regular', '../fonts/Verveine-Regular', 'Verveine-Regular');

html {
    font-size: $base-font-size / $browser-default-font-size + em; 
    line-height: $base-line-height / $base-font-size; 
}

body {
	@include font-type('base');
	font-style: normal;
	font-weight: normal;
	color: palette(themes, grey);
	letter-spacing: -0.025em;
}


%heading-1,
h1,.heading-1 {
	font-size: 7vw;
	line-height: 0.9;
	@include font-type('bold');
	margin: 0 0 gutter(1);
	font-weight: normal;

	@include mq(767, max) {
		@include font-size(fs(h3),40);
		margin-bottom: gutter(.5);
	}

	@include mq(1200,min) {
		@include font-size(fs(h1),74);
	}

}


%heading-2,
h2,.heading-2 {
	
	font-size: 5vw;
	line-height: 1;
	
	@include font-type('medium');
	margin: 0 0 gutter(1);
	font-weight: normal;

	@include mq(767, max) {
		@include font-size(fs(h4),30);
		margin-bottom: gutter(.5);
	}

	@include mq(1200,min) {
		@include font-size(fs(h2),50);
	}
}

%heading-3,
h3,.heading-3 {
	font-size: 3.5vw;
	line-height: 1;

	@include font-type('medium');
	margin: 0 0 gutter(1);
	font-weight: normal;

	@include mq(767, max) {
		@include font-size(fs(h5),25);
		margin-bottom: gutter(.5);
	}

	@include mq(1200,min) {
		@include font-size(fs(h3),40);
	}
}


%heading-4,
h4,.heading-4 {
	@include font-size(fs(h4),30);
	@include font-type('medium');
	margin: 0 0 gutter(0.5);
	font-weight: normal;

	@include mq(767, max) {
		@include font-size(fs(h6),20);
		margin-bottom: gutter(.5);
	}
}


%heading-5,
h5,.heading-5 {
	@include font-size(fs(h5),25);
	@include font-type('medium');
	margin: 0 0 gutter(0.5);
	font-weight: normal;

	@include mq(767, max) {
		@include font-size(fs(h6),20);
		margin-bottom: gutter(.5);
	}
}


%heading-6,
h6,.heading-6 {
	@include font-size(fs(h6),20);
	@include font-type('medium');
	margin: 0 0 gutter(0.5);
	font-weight: normal;
}

p {
	margin: 0 0 gutter(1);
	@include mq(767, max) {
		@include font-size(15,20);
	}
}

strong {
	font-weight: normal;
	@include font-type(medium);
}

b {
	font-weight: normal;
}

// small font sizes

// %proton,
// .proton {
// 	@include font-size(10);
// }

// %nucleus,
// .nucleus {
// 	@include font-size(12);
// }

// %atom,
// .atom {
// 	@include font-size(14);
// }

p,li {
	@include font-size(15,20);
	@include mq(767, max) {
		@include font-size(15,20);
	}
	@include mq(767) {
		@include font-size(16,22);
	}
}


a {
	text-decoration: none;
	color: inherit;
}

