


// <button> reset

%button,
.button {
    background: none;
    border: 0;
    padding: 0;
    &:focus {
        outline: 0; // danger zone
    }
}



/* 
    Provides extra visual weight and identifies the primary action in a set of buttons.
    <button class="btn">Primary</button>
*/



//  buttons size, mobile first, see the views files for tablet/desktop changes 

.btn {     
    @include font-size(18,44);
    @include font-type(medium);
    @include transition(all .3s);
    backface-visibility: hidden;
    position: relative;
    border-radius: 10px;
    display:inline-block;       
    vertical-align:middle;      
    white-space:nowrap;             
    cursor:pointer;             
    border:none;                
    margin:0;          
    padding: 0 25px;
    text-decoration: none;   
    height: 50px;
    background-color: palette(themes,green);
    color: $white;
}



.btn--dual {
    @include font-size(18,22);
    height: 76px;
    padding-top: 19px;
    span {
        @include font-size(14,18);
        display: block;
    }
}


