/*
 	This file should be used for resetting and normalizing form elements
	Please create a module file for a specific form
*/


/*
 Reset some form bits, to prevent weirdness in ios
*/

input[type="submit"],
input[type="search"],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	appearance: none;
	border-radius: 0;
}


/*
	reset fieldset elements
*/

fieldset {
	margin: 0;
	border: 0;
}


/*

Basic form markup:

<div class="form__group">
	<label class="form__label" for="frm_name">Name</label>
	<input class="form__input" type="text" name="frm_name" id="frm_name">
</div>
*/


/*
	field wrapping element
*/

.form__group {
	margin-bottom: vr-block(1);
}


/*
	label element
*/

.form__label {
	font-size: ms(-1);
	display: block;
}


/*
	input element, 100% wide to fill container
*/

.form__input {
	font-size: ms(0);
	border: 1px solid lighten($black, 95%);
	display: block;
	width: 100%;
	padding: vr-block(.25) gutter(.5);
}


/*
	<div class="form__group">
		<label class="form__label" for="frm_email">Options</label>
		<div class="form__input form__input--select">
			<select type="email" name="frm_email" id="frm_email">
				<option selected="" disabled="">Option 1</option>
				<option>Option 2</option>
				<option>Option 3</option>
				<option>Option 4</option>
				<option>Option 5</option>
				<option>Option 6</option>
				<option>Option 7</option>
			</select>
		</div>
	</div>
*/

.form__input--select {
	select {
		height: 100%;
		text-indent: 0;
		margin: 0;
		padding: 0;
		border: 0;
		background: none;
		width: 100%;
	}
}

.form__input--area {
	line-height: leading(16, 20);
	resize: vertical;
	padding: gutter(.5);
	min-height: gutter(3);
}


/*

<div class="form__group">
  <div class="form-toggle">
    <input class="form-toggle__input" type="radio" name="ra" id="ra1">
    <label class="form-toggle__label form-toggle__label--radio" for="ra1">Item 1</label>
  </div>
  <div class="form-toggle">
    <input class="form-toggle__input" type="radio" name="ra" id="ra2">
    <label class="form-toggle__label form-toggle__label--radio" for="ra2">Item 2</label>
  </div>
</div>
<div class="form__group">
  <div class="form-toggle">
    <input class="form-toggle__input" type="checkbox" name="ch" id="ch1">
    <label class="form-toggle__label form-toggle__label--checkbox" for="ch1">Item 1</label>
  </div>
  <div class="form-toggle">
    <input class="form-toggle__input" type="checkbox" name="ch" id="ch2">
    <label class="form-toggle__label form-toggle__label--checkbox" for="ch2">Item 2</label>
  </div>
</div>
*/


/*

	Relative wrapper for the psuedo radio/checkboxes
*/

.form-toggle {
	position: relative;
}


/*

	Hide the input and remove it from the document flow
*/

.form-toggle__input {
	float: left;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	opacity: 0;

	&:checked + .form-toggle__label {
		&::before {
			border: 1px solid lighten($black, 5%);
			background-color: lighten($black, 65%);
		}
	}

	&:checked + .form-toggle__label--checkbox {
		&::before {
			box-shadow: 0 0 0 5px $white inset;
		}
	}
}


/*

	Let's use flexbox to nicely align the psuedo element and the labels innerhtml
*/

.form-toggle__label {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	&::before {
		content: " ";
		border: 1px solid lighten($black, 95%);
		width: 20px;
		height: 20px;
		display: block;
		margin-right: gutter(.5);
	}
}

.form-toggle__label--radio {
	&::before {
		border-radius: 100%;
	}
}

.form__button {
	padding: gutter(.25);
	background-color: lighten($black, 75%);
	border: 1px solid lighten($black, 95%);
	display: block;
	width: 100%;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
}

