@font-face {
	font-family: "icon-font";
	src: url('../fonts/icon-font.eot');
	src: url('../fonts/icon-font.eot?#iefix') format('eot'),
		url('../fonts/icon-font.woff') format('woff'),
		url('../fonts/icon-font.ttf') format('truetype'),
		url('../fonts/icon-font.svg#icon-font') format('svg');
}


$icon_map: (facebook: "\E001",twitter: "\E002",);

@function icon-char($filename) {
	$char: "";

	@if $filename == facebook {
		$char: "\E001";
	}
	@if $filename == twitter {
		$char: "\E002";
	}

	@return $char;
}

@mixin icon-font() {
	font-family: "icon-font";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// font-style: normal;
	// font-variant: normal;
	// font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	// text-decoration: none;
	// text-transform: none;	
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend == true {
			@extend %icon;
		} @else {
			@include icon-font();
		}
		content: icon-char($filename);
		@content;
	}
}

@mixin icon-char($filename) {
	content: icon-char($filename);
}


// @each $icon, $char in $icon_map {
// 	.icon--#{$icon} {
// 		&:after {
// 			content: icon-char($icon);
// 		}
// 	}
// }