.icon {
  position: relative;
  > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    fill: currentColor;
  }

  &:after {
    content: "";
    display: block;
    height: 0; 
    width: auto;
  }
}

<% _.forEach( icons, function( icon ){ %><%= icon.className %> {
  width: <%= icon.width %>;
  &:after {
    padding-bottom: <%= ((parseInt(icon.height) / parseInt(icon.width)) * 100) + '%' %>;
  }
}
<% }); %>