.hero
  picture.hero__img
    source(srcset="https://source.unsplash.com/category/nature/1600x900" media="(orientation: landscape)")
    source(srcset="https://source.unsplash.com/category/nature/768x1024" media="(orientation: portrait)")
    img(src="https://source.unsplash.com/category/nature/1600x900" alt="" class="hero__img")
  h1.hero__heading MudStone 6.4.3
