// for link buttons
// <a href="#" class="btn btn--downloads"></a>


.btn {
	cursor: pointer;
	border: none;
	margin: 0;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: gutter(.5) gutter(1);
}
