/*
	Root
*/

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}







/*
	Headings
*/

.heading-1,
h1 {}

.heading-2,
h2 {}

.heading-3,
h3 {}

.heading-4,
h4 {}

.heading-5,
h5 {}

.heading-6,
h6 {}







/*
	Base element styles
	avoid adding font sizes to elements directly
	utilise the cascade and utility classes
*/

p {
	margin: 0 0 gutter(1);
}

b,
strong {
	font-weight: normal;
}

em {
	font-style: normal;
}

a {
	text-decoration: none;
	color: inherit;
	transition: opacity 300ms ease;

	&:hover {
		opacity: .5;
	}
}

address {
	font-style: normal;
}

