.accordion {
	padding: gutter(1);
}

// hide the content
.accordion__content { 
	display: none;

	// show the content
	// this class is added via js at the end of the accordion transition
	&.is-active {
		display: block;
	}
}

.accordion__inner {
	padding: 0 gutter(1);
}

.accordion__btn {
	display: block;
	margin-bottom: gutter(.5);
}