.carousel__frame {
    width: 100%;
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}
 
.carousel__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
 
.carousel__item {
    background: #091d46;
    font-size: 20px;
    color: $white;
    position: relative;
    flex: 1 0 25%;
    height: 400px;
    border: 2px solid $black;
}

[data-320] {
    .carousel__item {
        flex: 1 0 100%;
    }
}

[data-768] {
    .carousel__item {
        flex: 1 0 33.3333%;
    }
}

[data-1024] {
    .carousel__item {
        flex: 1 0 20%;
    }
}