// base class for all modules
// ensures even spacing around the module
// by removing any last childrens bottom margin
.panel {

	> *:last-child,
	> *:last-child > *:last-child,
	> *:last-child > *:last-child > *:last-child {
		margin-bottom: 0
	}

}

.panel--alert {
	padding: gutter(1);
	border: 2px solid #3a3a3a;
	display: block;
	text-align: center;
}




