.inview-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.item {
	width: 33.3333%;
	background-color: #44aaee;
	border: 2px solid $white;
	transition: all 500ms 300ms ease;

	&::before {
		padding-top: 100%;
		display: block;
		content: " ";
	}
}
