{% extends "layout/wrapper.twig" %}

{% block title %}{{ title }} | Home page{% endblock %}
{% block bodyClass %}has-hero{% endblock %}

{% block content %}
	<div>
		<div id="box"></div>
	</div>
{% endblock %}


{% block extra %}
{% endblock %}
