
.site {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	padding: 10px;
}

.button {
	width: 100px;
	text-align: center;
	display: inline-block;
	border: 2px solid #1a1a1a;
	&:focus {
		outline: 0;
	}
}

.accordion {
	width: 50%;
}

.is-active {
	border-color: #b222bb;
}

.content {
	display: none;
	transition: all .4s;
}

p {
	margin : 0;
}

// .is-active + .content {
// 	display: block;
// }