
.site {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	padding: 10px;
}

.button {
	width: 100px;
	text-align: center;
	display: inline-block;
	border: 2px solid #1a1a1a;
	&:focus {
		outline: 0;
	}
}

.is-active {
	border-color: #b222bb;
}