@function leading($font-size, $computed) {
  $fs: strip-units($font-size);
  @return $computed / $fs;
}

@function strip-units($value) {
	@return $value / ($value * 0 + 1);
}

@function gutter($lines: 1, $gutter: $base-padding) {
  @if length($lines) == 1 {
    @return rem(floor(($gutter * $lines) * 1px));
  } @else if length($lines) < 5 {
    $string: '';
    @for $i from 1 through length($lines) {
      $string: $string + ' ' + floor(($gutter * nth($lines, $i)) * 1px);
    }
    @return rem(unquote($string));
  } @else {
    @warn 'To many values used in gutter function';
    @return null;
  }
}

@function gridCalc($columns,$total-columns: $base-max-columns) {
	@return percentage($columns / $total-columns);
}


// colour functions
// Add percentage of white to a color
@function tint($color, $percent){
 	@return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent){
 	@return mix(black, $color, $percent);
}

@function c($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

@function breakpoint($break) {
	@return map-get($breakpoints, $break);
}

@function rem($size, $base: $browser-default-font-size) {
  $remSize: $size / $base;
  @return #{$remSize}rem;
}
