header.site-header
	ul.nav.menu__wrapper.js-menu
		li.menu__item
			a(href="/index.html" class="#{slug === 'index.html' && is-current}") Home
		li.menu__item
			a(href="/contact.html" class="#{slug === 'contact.html' && is-current}") Contact

