header.site-header
	.wrapper
		.g-fx.site-header__wrapper
			a.site-logo(href="/") MudStone
			nav.menu.site-menu(data-behaviour="canvasNavigation")
				a.menu__btn(href="#site-menu" rel="nofollow")
					span
				include ../_examples/mega-menu
				//- ul.nav.menu__wrapper.js-menu
				//- 	li.menu__item
				//- 		a(href="#Type") Type
				//- 	li.menu__item
				//- 		a(href="#Form") Form
				//- 	li.menu__item
				//- 		a(href="#Grid") Grid
				//- 	li.menu__item
				//- 		a(href="#Panels") Panels
				//- 	li.menu__item
				//- 		a(href="#Widgets") Widgets

