header.site-header
	.wrapper
		.g-wrap.site-header__wrapper
			a.site-logo(href="/" rel="logo") MudStone
			nav.menu.g-wrap#site-menu(data-behaviour="menu")
				a.menu__btn(href="#site-menu" rel="nofollow menu-btn")
					span
				ul.nav.menu__wrapper(rel="menu-wrapper")
					li.menu__item
						a(href="#type") Typography
					li.menu__item
						a(href="#form") Form
					li.menu__item
						a(href="#intro") Layout
					li.menu__item
						a(href="#intro") Panels

