header.site-header
	a.site-logo(href="/" rel="logo") MudStone
	nav.menu.site-menu(data-behaviour="menu")
		a.menu__btn(href="#site-menu" rel="nofollow")
			span
		ul.nav.menu__wrapper.js-menu
			li.menu__item
				a(href="#Type") Type
			li.menu__item
				a(href="#Form") Form
			li.menu__item
				a(href="#Grid") Grid
			li.menu__item
				a(href="#Panels") Panels
			li.menu__item
				a(href="#Widgets") Widgets

