.wrapper.accordion(data-behaviour="accordion")
	button.button.accordion__btn.is-active(data-target="#e1") 1
	.accordion__content#e1
		.accordion__inner.u-panel
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
	button.button.accordion__btn.button.accordion__btn-2(data-target="#e2") 2
	.accordion__content#e2
		.accordion__inner.u-panel
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
	button.button.accordion__btn.is-active(data-target="#e3") 3
	.accordion__content#e3
		.accordion__inner.u-panel
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
		.accordion__inner.u-panel
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
	button.button.accordion__btn(data-target="#e4") 4
	.accordion__content#e4
		.accordion__inner.u-panel
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
	button.button.accordion__btn(data-target="#e5") 5
	.accordion__content#e5
		.accordion__inner.u-panel
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.