.slider.js_slider(data-behaviour="carousel")
    .frame.js_frame
        ul.slides.js_slides
            -var n = 0
            while n < 20
                li.js_slide #{n}
                -n++
    button.js_prev BACK
    button.js_next FORWARD