.menu__wrapper.js-menu(data-behaviour="megaNav")
	button.js-menu-root Root
	button.js-menu-back Back
	ul.nav.menu__root
		-var n = 0
		while n < 6
			li.menu__item.menu__item__lvl1
				a(href="#") Menu Item 
				button.button.js-menu-btn +
				.menu__subwrap
					ul.nav
						-var k = 0
						while k < 8
							li.menu__item.menu__item__lvl2
								a(href="#") Sub Menu Item l2
								button.button.js-menu-btn +
								.menu__subwrap
									ul.nav
										-var j = 0
										while j < 6
											li.menu__item.menu__item__lvl2 
												a(href="#") Sub Menu Item l3
												button.button.js-menu-btn +
												.menu__subwrap
													ul.nav
														-var i = 0
														while i < 6
															li.menu__item.menu__item__lvl2 
																a(href="#") Sub Menu Item l4
																button.button.js-menu-btn +
																.menu__subwrap
																	ul.nav
																		-var q = 0
																		while q < 6
																			li.menu__item.menu__item__lvl2 
																				a(href="#") Sub Menu Item l5
																			-q++
															-i++
											-j++
							-k++
			-n++
