.tabs(data-behaviour="tabs")
	ul.nav.tabs__ctrl
		li
			a.js-tab-btn(href="#a") A
		li
			a.js-tab-btn(href="#b") B
		li
			a.js-tab-btn(href="#c") C
		li
			a.js-tab-btn(href="#d") D
	ul.nav.tabs__wrap
		li.tab#a
			header.tab__header
				h2.tab__heading Hello
			.tab__bd
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, saepe. Praesentium cupiditate vel harum ducimus, officia nam iure, architecto ab porro, tempore ea doloribus minima, ipsum in officiis aperiam quasi.
		li.tab#b
			header.tab__header
				h2.tab__heading Hello
			.tab__bd
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, saepe. Praesentium cupiditate vel harum ducimus, officia nam iure, architecto ab porro, tempore ea doloribus minima, ipsum in officiis aperiam quasi.
		li.tab#c
			header.tab__header
				h2.tab__heading Hello
			.tab__bd
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, saepe. Praesentium cupiditate vel harum ducimus, officia nam iure, architecto ab porro, tempore ea doloribus minima, ipsum in officiis aperiam quasi.
		li.tab#d
			header.tab__header
				h2.tab__heading Hello
			.tab__bd
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, saepe. Praesentium cupiditate vel harum ducimus, officia nam iure, architecto ab porro, tempore ea doloribus minima, ipsum in officiis aperiam quasi.
		