

.profile:nth-child(3n + 1) {

	.profile__brief {
		background-color: c(themes, who)
	}
}

.profile:nth-child(3n + 2) {

	.profile__brief {
		background-color: c(themes, what);
	}
}

.profile:nth-child(3n + 3) {

	.profile__brief {
		background-color: c(themes, whats);
	}
}

.slide__text {
	display: inline-block;
	background: none;
	position: relative;
	&:before {
		content: " ";
		display: block;
		z-index: -1;
		position: absolute;
		top: gutter(-.5);
		right: gutter(-.5);
		bottom: gutter(-.5);
		left: gutter(-.5);
		background-color: c(bg, dark);
	}
}