// structure
.site {
	padding-top: 0;
}

.site-header {
	background-color: $black;
	color: $white;
	position: static;
}

.site-header__wrapper {
	justify-content: space-between;
	align-items: center;
}

// menu 
