// layout/header.scss

// .menu__wrapper {
// 	position: static;
// 	will-change: none;
// 	opacity: 1;
// 	transform: none;
// 	z-index: 1;
// 	background: none;
// 	display: block;
// 	text-align: left;
// 	&:before {
// 		display: none;
// 	}
// }

// .menu__btn {
// 	display: none;
// }

// .menu__item {
// 	@include font-size(modular-scale(0));
// 	color: $black;
// 	display: inline-block;
// 	margin: 0 gutter(.25);
// 	letter-spacing: 0;
// 	&:hover {
// 		color: c(themes,blog);
// 	}
// }








// layout/footer.scss








// layout/structure.scss
