
// loop through each of the themes,
// set background-color .t-theme-bg
// set text color .t-theme-text
// @each $theme, $color in $themes {

// 	.t-#{$theme}-bg {
// 		background-color: $color;
// 		color: $white;
// 	}
// 	.t-#{$theme}-text {
// 		color: $color;
// 	}

// }

