
.slide {
  position: relative;
}

/*
  This element groups all the items, but not the buttons
  It's a recommendation but it's very likely
  you'll want to hide any overflow from the items
  Especially when doing animations such as scale
 */
.slide__list {
  position: relative;
  overflow: hidden;
}

/*
  This is the item element
  By default, they are all hidden and
  positioned absolute
  I recommend always having .slide-item--current
  in your markup by default (probably on the first element)
 */
.slide__item {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*
  This is the current item element
  All we do here, is make it visible again reset
  the position to static. Could also be relative
 */
.slide__item--current {
  visibility: visible;
  position: relative;
}


.slide__item--hidePrevious,
.slide__item--hideNext {
  visibility: visible;
  animation: fadeOut 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

/*
  In order to fade out properly we need to make sure
  that the item that is going to be the previous one
  has a higer z-index that the next one
 */
.slide__item--hidePrevious,
.slide__item--hideNext { z-index: 2; }
.slide__item--showPrevious,
.slide__item--showNext { z-index: 1; }


.slide__img {
	display: block;
	pointer-events: none;
}

 /*==========  FADE ANIMATIONS  ==========*/

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


.slide-pager {
	position: absolute;
	bottom: vr-block(0.25);
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 3;
}

.slide-pager__item {
	display: inline-block;
	margin: 0 gutter(.5);
	.button {
		width: 10px;
		height: 10px;
		border-radius: 100%;
		background-color: $white;
	}
}
