// position
.u-rel {
	position: relative;
}

.u-b {
	display: block;
}

.u-left {
	float: left;
}

.u-right {
	float: right;
}

.u-faux-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

// base class for all modules
// ensures even spacing around the module
// by removing any last childrens bottom margin
.u-panel {
	> *:last-child,
	> *:last-child > *:last-child,
	> *:last-child > *:last-child > *:last-child {
		margin-bottom: 0;
	}
}

// image replacement
.u-ir {
	display: block;
	text-indent: 150%;
	overflow: hidden;
	white-space: nowrap;
}

// state
.u-hidden {
	display: none;
}

.u-removed {
	width: 0;
	height: 0;
	margin: -1px;
	visibility: hidden;
	pointer-events: none;
}

// text
.u-text-center {
	text-align: center;
}

.u-text-right {
	text-align: right;
}

.u-text-left {
	text-align: left;
}

// colours
.u-text-white {
	color: $white;
}

.u-text-black {
	color: $white;
}

// backgrounds
.u-bg-white {
	background: $white;
}

.u-bg-black {
	background: $black;
	color: $white;
}

