// position
.u-rel {
	position: relative;
}

.u-left {
	float: left;
}

.u-right {
	float: right;
}

// grid 

.g-cf {
	@include cf();
}

.g-fx {
	display: flex;
}

.g-fx--column {
	flex-direction: column;
}

.g-fx--row {
	flex-direction: row;
}

.g-fx--wrap {
	flex-wrap: wrap;
}

// effects

.u-trans {
	transition: all .3s;
}


// state

.u-hidden {
	display: none;
}

.u-removed {
	width: 0px;
	height: 0px;
	margin: -1px;
	visibility: hidden;
	pointer-events: none;
}

// text

.u-text-center {
	text-align: center;
}

.u-text-right {
	text-align: right;
}

.u-text-left {
	text-align: left;
}

// type branding!?
.u-em {
	
}