// position
.u-rel {
	position: relative;
}

.u-left {
	float: left;
}

.u-right {
	float: right;
}

// grid 

.g-cf {
	@include cf();
	& > .g-col {
		float: left;
	}
}

.g-fx {
	display: flex;
	flex-wrap: wrap;
}

.g-fx--column {
	flex-direction: column;
}

.g-fx--row {
	flex-direction: row;
}

.g-fx--wrap {
	flex-wrap: wrap;
}

.g-center {
	margin-left: auto;
	margin-right: auto;
}

// panels

// base class for all modules
// ensures even spacing around the module
// by removing any last childrens bottom margin
.u-panel {
	> *:last-child,
	> *:last-child > *:last-child,
	> *:last-child > *:last-child > *:last-child {
		margin-bottom: 0
	}
}

// effects

.u-trans {
	transition: all .3s;
}

// image replacement

.u-ir {
	display: block;
	text-indent: 150%;
	overflow: hidden;
	white-space: nowrap;
}


// state

.u-hidden {
	display: none;
}

.u-removed {
	width: 0px;
	height: 0px;
	margin: -1px;
	visibility: hidden;
	pointer-events: none;
}

// text

.u-text-center {
	text-align: center;
}

.u-text-right {
	text-align: right;
}

.u-text-left {
	text-align: left;
}

// type branding!?
.u-em {
	
}


/// resets

.u-xlist {
	list-style: none;
}