// position
.u-rel {
	position: relative;
}

.u-b {
	display: block;
}

.u-left {
	float: left;
}

.u-right {
	float: right;
}

.u-bg-light {
	color:c(bg,dark);
	background-color:c(bg,light);
}

.u-bg-dark {
	background-color: c(bg, dark);
}

.u-bg-what {
	background-color: c(themes, what)
}

.u-bg-why {
	background-color: c(themes, why)
}
 
.u-bg-who {
	background-color: c(themes, who)
}

.u-bg-where {
	background-color: c(themes, where)
}

.u-bg-whats {
	background-color: c(themes, whats)
}

.u-faux-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.u-bg-vodafone {
	background-color:#e60000;
	a {
		&:hover {
			color:$black;
		}
	}
}

// panels

// base class for all modules
// ensures even spacing around the module
// by removing any last childrens bottom margin
.u-panel {
	> *:last-child,
	> *:last-child > *:last-child,
	> *:last-child > *:last-child > *:last-child {
		margin-bottom: 0
	}
}

// effects

.u-trans {
	transition: all .3s;
}

// image replacement

.u-ir {
	display: block;
	text-indent: 150%;
	overflow: hidden;
	white-space: nowrap;
}


// state

.u-hidden {
	display: none;
}

.u-removed {
	width: 0px;
	height: 0px;
	margin: -1px;
	visibility: hidden;
	pointer-events: none;
}

// text

.u-text-center {
	text-align: center;
}

.u-text-right {
	text-align: right;
}

.u-text-left {
	text-align: left;
}

// type branding!?
.u-em {
	
}


/// resets

.u-xlist {
	list-style: none;
}



// responsive

.u-tablet {
	display:none;
}