.grid {
    font-size:0;
    vertical-align: top;
    margin-left:-20px;
}


.grid__col {
    display:inline-block;
    padding-left:20px;
    width:100%;
    vertical-align:top;
    @include font-size($base-font-size);
}

.grid--testimonials {
    margin-top:40px;
}
.grid--team {
    margin-top:40px;
}

@media only screen and (min-width: 480px) {

    .grid--2 {
        .grid__col {
            width:50%;
            flex:0 0 50%;
            max-width:50%;
        }
    }

}

@media only screen and (min-width: 768px) {

    .grid--3 {
        .grid__col {
            width:33.33333%;
            flex:0 0 33.33333%;
            max-width:33.33333%;
        }
    }

}