// site logo
.site-logo {
	@include font-type(bold);
	//@include font-family(display);
	@include font-size(size(h6),false);
	line-height: 1;
	display: block;
	position: relative;
	z-index: 101;
	transition: all .4s;
	margin-left: 20px;
}

// vertical space for the fixed header
.site {
	padding-top: 50px;
}

.site-header {
	background-color: $white;
	padding: gutter(.25) 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid 1px solid rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	width: 100%;
}










// menu

.menu {
	align-items: center;
	align-self: baseline;
	margin-right: 20px;
}

.menu__wrapper {
	@include position(fixed, 0);
	width: 100%;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: c(themes,blog);
	visibility: hidden;
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
	padding: gutter(1);
	transition: opacity .5s, transform .5s, visibility 0s;

	&.is-animating-in, 
	&.is-active {
		transform: translate3d(0, 0, 0);
		visibility: visible;
		opacity: 1;
	}
	&.is-animating-out {
		transform: translate3d(100%, 0, 0);
	}
}

// .is-animating-in, .is-active {
// 	transform: scale(1);
// 	visibility: visible;
// 	opacity: 1;
// }




.menu__btn {
	@include menu-icon-rotate($width: 30px, $height: 2px, $color: $black, $curve: true, $active_class: '.is-active', $gap: 3);
	display: block;
	width: 40px;
	height: 40px;
	z-index: 101;

	&.is-active {
		span {
			&,
			&:before,
			&:after {
				background-color: $white;
			}
		}
	}
}

.menu__item {
	@include font-type(bold);
	@include font-size(modular-scale(1));
	letter-spacing: 0.25em;
	margin: 2vh 0;
	color: $white;
	transition: color .3s;
	&:hover {
		color: $black;
	}

	& > a {
		padding: gutter(.5) 0;
	}
}

// state - use rel selector to separate state from classes

%is-active-menu {
	opacity: 1;
	transform: scale(1);
	z-index: 100;
	left: 0;
}

// class can change, rel shouldn't change
// views/768_up
[rel*="menu-wrapper"] {
	&.is-active--menu {
		@extend %is-active-menu;
	}
}

// no-js version
:target {
	&#site-menu {
		.menu__wrapper {
			@extend %is-active-menu;
		}
	}
}
