
// menu
.menu {
	align-items: center;
	align-self: baseline;
	margin-right: gutter(.5);
}

.menu__wrapper {
	// all of this needs to be replaced for desktop
	// so lets wrap the fella in a little media query
	@include mq(1024, max) {
		@include position(fixed, 0);
		width: 100%;
		text-align: left;
		background-color: c(themes,blog);
		visibility: hidden;
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
		padding: gutter(1);
		transition: opacity .5s, transform .5s, visibility 0s;
		// let there be scrollbars
		overflow: auto;
		padding-top: gutter(2);
		&.is-animating-in, 
		&.is-active {
			transform: translate3d(0, 0, 0);
			visibility: visible;
			opacity: 1;
		}
		&.is-animating-out {
			transform: translate3d(100%, 0, 0);
		}
	}
}




// this gets hidden at desktop
.menu__btn {
	@include menu-icon-rotate($width: 30px, $height: 2px, $color: $black, $curve: true, $active_class: '.is-active', $gap: 3);
	@include position(absolute, 0 gutter(.5) null null);
	display: block;
	width: 40px;
	height: 40px;
	z-index: 101;
	&.is-active {
		span {
			background-color: transparent;
			&:before,
			&:after {
				background-color: $white;
			}
		}
	}
}

.menu__item {
	@include font-type(bold);
	@include font-size(ms(1));
	letter-spacing: 0.25em;
	margin: 2vh 0;
	transition: color .3s;
	&:hover {
		color: $black;
	}

	& > a {
		padding: gutter(.5) 0;
	}
}


.menu__subwrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	overflow-y: auto;
	transform: translate3d(100%,0,0);
	transition: transform .3s;
	background-color: c(themes,blog);
	&.is-active {
		transform: translate3d(0,0,0);
	}
}