
// boilerplate form styles
// core block styles

// input reset
input[type="submit"],
input[type="search"],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    //border: 0;
}

input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
	border-radius: 0;
}


select:focus,
input:focus {
	outline: 0;
}

// remove border and margin from fieldsets
fieldset {
	margin: 0;	
	border: 0;
}


.form {
	// form input wrapper class
	// includes margin for spacing
	// text align reset
	.input {
		position: relative;
		//text-align: left;
		margin-bottom: gutter(1);

	}

}


// <input>/<textarea> base style
.form__input {
	@include transition(all 0.5s);
	// set the font size and line-height based on the input height
	@include font-size(16,60);
	@include std-border(all);
	@include font-type();
  padding: 0 forms(input,padding);
	height: 60px;
  display: inline-block; 
  color: palette(themes,grey);

  	// focus style
 	&:focus {
 		//color: forms(textarea,color-on);
 	}



  	&--block {
  		display: block;
  		width: 100%;
  	}
}

.form__textarea {
	@include font-size(17,27);
	@include std-border(all);
 	overflow:auto;
 	height: auto !important; // 
 	padding: gutter(0.5) forms(input,padding);
 	resize: none;
 	&--block {
 		display: block;
 		width: 100%;
 	}
}

// radio and checkbox inputs

.form__toggle {
	// take it out the flow
	float: left;
	// hides the input element with opacity, width/height 0
	@include reset-input();
	// shared style
	@include fancy-input() {
		//@include size(30px);
		//border: 1px solid palette(themes,grey);
		display: inline-block;
		width: 20px;
		height: 20px;
		background-color: $white;
	}

	& + label {
		cursor: pointer;
	}
}

.form__toggle--radio {
	@include fancy-input() {
	// radio specific styles here
		@include std-border(all);
		@include transition(all .5s);
		border-radius: 100%;
		box-shadow: 0 0 0 9px #fff inset;
	}
	@include fancy-input-checked() {
	// radio checked styles here
		background-color: palette(themes,teal);
		box-shadow: 0 0 0 4px $white inset;
	}	
}

.form__toggle--checkbox {
	@include fancy-input() {
		@include std-border(all);
		@include font-size(13,25);
		@include icon-font();
		vertical-align: middle;
		width: 25px;
		height: 25px;
		text-align: center;
		top: -3px;
	}
	@include fancy-input-checked() {
		content: icon-char(tick);
		color: palette(themes,teal);
	}

}

// <label> base style
.form__label {
	@include font-size(16,22);
	color: forms(label,color);
	display: inline-block;  
	cursor: pointer;  
	position: relative;  
	&--block {
		display: block;
		margin-bottom: gutter(0.25);
	}

}


// for select dropdown styles
// this is a wrapper class for select dropdowns
.form__select {
	position: relative;
	// use before/after to style the dropdown button
	// remove the padding
	// re add on the select element
	padding-right: 0 !important;
	background-color: $white;
	border: 1px solid gamma(palette(themes,grey));

	&:before,
	&:after {
		pointer-events: none;
		content: " ";
	}

	&:before {
		@include position(absolute, 0 0 0 null);
		background-color: $white;
		width: 20px;
		z-index: 1;
	}

	&:after {
		@include triangle(palette(themes,teal), 10px, 16px, bottom);
		@include position(absolute, 0 10px 0 null);
		display: block;
		margin: auto;
		z-index: 2;
	}

	// reset the select element
	select {
		border: 0;
		border-radius: 0;
		background: none;
		position: relative;
		height: 100%;
		width: 100%;
		// update the placeholder style
		@include placeholder() {
			@include font-type();
		}
	}
}



// update the placeholder style
@include placeholder() {
	@include font-type();
}

// validation styles 






