@mixin font-type($font: 'base') {
  @if $font == bold {
    font-weight: 800;
  } @else if $font == semi {
    font-weight: 600;
  }  @else if $font == light {
    font-weight: 300;
  } @else if $font == base {
    font-weight: 400;
  }
}

