// debugging
$debug: false;

// images
$png-sprite:                    '../images/png-sprite.png';
$svg-sprite:                    '../images/svg-sprite.svg';

// Typography
$base-font-size:                16;
$base-line-height:              12;
$browser-default-font-size:     16;
$magic-number:                  $base-line-height;
$magic-ratio:                   $base-line-height / $base-font-size;



// Scaling Variables
$golden:                        1.618;
$minor-second:                  1.067;
$major-second:                  1.125;
$minor-third:                   1.2;
$major-third:                   1.25;
$perfect-fourth:                1.333;
$augmented-fourth:              1.414;
$perfect-fifth:                 1.5;
$minor-sixth:                   1.6;
$major-sixth:                   1.667;
$minor-seventh:                 1.778;
$major-seventh:                 1.875;
$octave:                        2;
$major-tenth:                   2.5;
$major-eleventh:                2.667;
$major-twelfth:                 3;
$double-octave:                 4;

// units added later
$modular-scale-ratio:           $major-third;
$modular-scale-base:            $base-font-size;

$font-size: (
    h1:                         ms(6),
    h2:                         ms(5),
    h3:                         ms(4),
    h4:                         ms(3),
    h5:                         ms(2),
    h6:                         ms(1)
);


// Grid
$base-max-width:                1280px;
$base-max-columns:              12;
$current_breakpoint:            base;
$base-padding:                  modular-scale(1);

$base-grid-gutter:              $base-padding;
// Counter
$counter:                       counter;

// Colours
$white:                         #fff;
$black:                         #000;
$base-grey:                     #706f6f;

$palettes: (
    bg: (
      body:                     #e5e5e5,
      dark:                     $base-grey,
      light:                    #f2f2f2
    ),
    themes: (
        contact:                #ff0031,
        blog:                   #37cecd,
        service:                #00afff,
        about:                  #ffc627,
        case:                   #6be361,
    ),
    std: (
        base:                   #4A90E2,
        dark:                   #267DE2
    ),
    link: ( 
      hover:                    #ff0031
    )
);


// Breakpoints
$break-tiny:                    480;
$break-small:                   768;
$break-nexus:                   960;
$break-large:                   1024;
$break-massive:                 1200;

$breakpoints: (
  mobile-portrait:               320,
  mobile-landscape:              480,
  tablet-portrait:               660,
  tablet-landscape:              960,
  desktop-small:                1024,
  desktop-standard:             1200,
  desktop-large:                1600
);

