/*

    File: _assets/css/scss/style.scss

    Use spaces not tabs

    # Selectors

    One selector per line, One rule per line
    Don't use IDs as selectors
    Use hyphens to concatenate class names, eg body-container not bodyContainer or body_container
    Use BEM syntax:  
        Block 
        Block__element
        Block--modifier 

    # Properties
 
    List related properties together
    If the value of the width or height is 0, do not specify units
    Avoid magic numbers, eg numbers used as  quick fixes on a one-off basis
    Close final property with a semi-colon
    Err towards shorthand where avaliable, eg border, background, etc

    # SASS/SCSS

    All Vendor Prefixes Use @mixins
    Maximum Nesting: Three Levels Deep
    Maximum Nesting: 50 Lines

    Locally compile Expanded
    For Deployment compile Compressed

    Be Generous With Comments

    Variablize All Common Numbers, and Numbers with Meaning
    Variablize All Colors

    Nest and Name Your Media Queries

    Shame Last

*/
/* line 13, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  /* 1 */
  -webkit-font-smoothing: antialiased; }

/* line 32, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 42, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
audio, canvas, video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 51, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 62, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 76, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 86, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 98, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 106, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 115, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 *

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 137, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 146, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 154, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 162, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 172, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 184, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 193, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
/* line 201, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 209, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 218, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 225, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
sup {
  top: -0.5em; }

/* line 229, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 241, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
img {
  border: 0;
  max-width: 100%;
  height: auto; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 251, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 263, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 275, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 286, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 300, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
button, input, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 312, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
button, input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 324, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 339, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 349, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 359, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 370, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */ }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 383, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 392, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 402, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 415, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/libs/_libs-reset */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
    File: _assets/css/scss/_libs-vars.scss
*/
/*
    File: _assets/css/scss/_libs-mixins.scss
        Preference for third-party mixin libraries is to use Bourbon
        See https://github.com/thoughtbot/bourbon
*/
/*



*/
/*
    File: _assets/css/scss/_libs-functions.scss
*/
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
    File: _assets/css/scss/_views-beta.scss
        This is a miscellaneous file for pre-launch testing and static comps.
        To be removed for launch!!

        1.  Baseline
            Core/generic rules for this context

        2.  Layout
            Page layout rules, eg for columns
            As a general rule width, padding and margin stuff here

        3.  Typography
            Typographic rules: headings, lists, etc

        4.  Elements
            HTML elements base rules

        5.  Components
            Components within the site, eg navigation, carousels, etc
            Ideally context and element agnostic

        6.  Exceptions
            Media queries targetting specific/edge-case CSS

        7.  Hacks
            Idiosyncratic styles for browser support, etc

*/
/*
    File: _assets/css/scss/_views-core.scss
        This is the base, mobile-first view CSS.
        Mobile-specific styles should be added here under Exceptions

        1.  Baseline
            Core/generic rules for this context

        2.  Layout
            Page layout rules, eg for columns
            As a general rule width, padding and margin stuff here

        3.  Typography
            Typographic rules: headings, lists, etc

        4.  Elements
            HTML elements base rules

        5.  Components
            Components within the site, eg navigation, carousels, etc
            Ideally context and element agnostic

        6.  Exceptions
            Media queries targetting specific/edge-case CSS

        7.  Hacks
            Idiosyncratic styles for browser support, etc

*/
/* line 30, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/views/_views-core */
html {
  font-size: 1.125em;
  /* [1] */
  line-height: 1.22222;
  /* [2] */ }

/* line 39, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/views/_views-core */
h2 {
  border: 2px solid red; }

/* line 71, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/style.scss */
html {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s; }

/* line 75, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/style.scss */
.no-js {
  opacity: 0; }

/* line 79, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/style.scss */
.js {
  opacity: 1; }

/* line 84, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/style.scss */
h1 {
  color: blue; }

/* line 88, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/style.scss */
body {
  background-color: black; }

/* line 93, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/style.scss */
h1 {
  font-size: 20px;
  font-size: 1rem; }

/* line 98, /Users/magicspon/websites/mudstone/fork/mudstone/_assets/css/scss/style.scss */
h3 {
  color: orange; }


/*# sourceMappingURL=style.css.map */