/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@font-face {
  font-family: "icon-font";
  src: url('../fonts/icon-font.eot');
  src: url('../fonts/icon-font.eot?#iefix') format('eot'), url('../fonts/icon-font.woff') format('woff'), url('../fonts/icon-font.ttf') format('truetype'), url('../fonts/icon-font.svg#icon-font') format('svg'); }

*, *:before, *:after {
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  /* 1 */
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio, canvas, video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 *

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
  max-width: 100%;
  height: auto; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button, input, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */ }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
    File: _assets/css/scss/_libs-functions.scss
*/
/*
  Grid Mixins

*/
.box--1 {
  width: 100%; }

.box--2 {
  width: 50%; }

.box--3 {
  width: 33.33333%; }

.box--4 {
  width: 25%; }

.box--5 {
  width: 20%; }

.box--6 {
  width: 16.66667%; }

.box--7 {
  width: 14.28571%; }

.box--8 {
  width: 12.5%; }

.box--9 {
  width: 11.11111%; }

.box--10 {
  width: 10%; }

.box--11 {
  width: 9.09091%; }

.box--12 {
  width: 8.33333%; }

/*
    File: _assets/css/scss/_libs-mixins.scss
        Preference for third-party mixin libraries is to use Bourbon
        See https://github.com/thoughtbot/bourbon
*/
.va {
  font-size: 0; }
  .va:before {
    width: 0;
    height: 100%;
    content: " "; }
  .va:before, .va__item {
    display: inline-block;
    vertical-align: middle; }
  .va__item {
    margin: auto; }

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.center {
  margin-left: auto;
  margin-right: auto; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  display: none !important; }

.video-wrap {
  position: relative; }

.inline-wrap {
  font-size: 0; }

body:after {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  content: " ";
  display: block;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  content: "core"; }
@media only screen and (min-width: 480px) {
  body:after {
    content: "min-width: break-tiny"; } }
body:after {
  content: "min-width: break-tiny"; }
@media only screen and (min-width: 768px) {
  body:after {
    content: "min-width: break-small"; } }
body:after {
  content: "min-width: break-small"; }
@media only screen and (min-width: 1024px) {
  body:after {
    content: "min-width: break-large"; } }
body:after {
  content: "min-width: break-large"; }
@media only screen and (min-width: 1200px) {
  body:after {
    content: "min-width: break-massive"; } }
body:after {
  content: "min-width: break-massive"; }

.patterns .is-fixed .menu {
  position: static; }
.patterns .is-fixed + * {
  margin-top: 0; }

.panel--pattern {
  padding: 32px 0;
  border-top: 1px solid #d7dde1; }
  .panel--pattern .link {
    vertical-align: Baseline; }
  .panel--pattern .input__group {
    margin-right: 32px;
    display: inline-block;
    vertical-align: baseline; }
  .panel--pattern .tablesaw-bar .btn {
    margin: 0; }

.panel--pattern.buttons a.link, .panel--pattern.buttons .btn {
  margin: 0 32px 32px 0; }

@media only screen and (min-width: 1024px*px) {
  .panel--pattern .pattern__column {
    text-align: justify;
    font-size: 0;
    margin: 32px 0; }
    .panel--pattern .pattern__column:after {
      display: inline-block;
      content: " ";
      width: 100%; }
  .panel--pattern .pattern__column {
    width: 33.33333%;
    display: inline-block; } }
.panel--pattern .pattern__column {
  text-align: justify;
  font-size: 0;
  margin: 32px 0; }
  .panel--pattern .pattern__column:after {
    display: inline-block;
    content: " ";
    width: 100%; }
.panel--pattern .pattern__column {
  width: 33.33333%;
  display: inline-block; }
.panel--pattern .input {
  margin-bottom: 32px; }

.panel--grid {
  border: 1px solid #ff007d;
  text-align: center;
  padding: 8px 0; }

.prompt--static {
  padding: 100px 0; }
  .prompt--static .btn, .prompt--static .link {
    margin: 0; }

.panel--pattern .nav--justify li {
  vertical-align: top; }

.panel--banner__item .btn {
  margin: 0; }

.proto-mob {
  max-width: 768px !important; }

.proto-tab {
  max-width: 1024px !important; }

.template-list .link {
  margin-right: 0; }

.dev-spacing {
  box-shadow: 1px 1px 0 32px #f8d8e1 inset;
  position: relative;
  outline: 1px dotted red; }
  .dev-spacing:before, .dev-spacing:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '32px padding';
    margin: 4px;
    font-size: 12px; }
  .dev-spacing:after {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0; }

@font-face {
  font-family: 'GothamRounded-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/GothamRounded-Bold/GothamRounded-Bold.eot');
  src: url('../fonts/GothamRounded-Bold/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Bold/GothamRounded-Bold.woff') format('woff'), url('../fonts/GothamRounded-Bold/GothamRounded-Bold.ttf') format('truetype'), url('../fonts/GothamRounded-Bold/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg'); }

svg {
  max-height: 100%; }

.theme--teal .theme--color {
  color: #00bebe; }
  .theme--teal .theme--color.beta {
    color: #85e0e0; }
  .theme--teal .theme--color.gamma {
    color: #d8f5f5; }
  .theme--teal .theme--color.delta {
    color: #e5f8f8; }
.theme--teal .theme--bg {
  background-color: #00bebe; }
  .theme--teal .theme--bg.beta {
    background-color: #85e0e0; }
  .theme--teal .theme--bg.gamma {
    background-color: #d8f5f5; }
  .theme--teal .theme--bg.delta {
    background-color: #e5f8f8; }

.theme--magenta .theme--color {
  color: #ff007d; }
  .theme--magenta .theme--color.beta {
    color: #ff85c1; }
  .theme--magenta .theme--color.gamma {
    color: #ffd8eb; }
  .theme--magenta .theme--color.delta {
    color: #ffe5f2; }
.theme--magenta .theme--bg {
  background-color: #ff007d; }
  .theme--magenta .theme--bg.beta {
    background-color: #ff85c1; }
  .theme--magenta .theme--bg.gamma {
    background-color: #ffd8eb; }
  .theme--magenta .theme--bg.delta {
    background-color: #ffe5f2; }

.theme--purple .theme--color {
  color: #500096; }
  .theme--purple .theme--color.beta {
    color: #ab85cd; }
  .theme--purple .theme--color.gamma {
    color: #e4d8ef; }
  .theme--purple .theme--color.delta {
    color: #ede5f4; }
.theme--purple .theme--bg {
  background-color: #500096; }
  .theme--purple .theme--bg.beta {
    background-color: #ab85cd; }
  .theme--purple .theme--bg.gamma {
    background-color: #e4d8ef; }
  .theme--purple .theme--bg.delta {
    background-color: #ede5f4; }

.theme--blue .theme--color {
  color: #006ebe; }
  .theme--blue .theme--color.beta {
    color: #85bae0; }
  .theme--blue .theme--color.gamma {
    color: #d8e9f5; }
  .theme--blue .theme--color.delta {
    color: #e5f0f8; }
.theme--blue .theme--bg {
  background-color: #006ebe; }
  .theme--blue .theme--bg.beta {
    background-color: #85bae0; }
  .theme--blue .theme--bg.gamma {
    background-color: #d8e9f5; }
  .theme--blue .theme--bg.delta {
    background-color: #e5f0f8; }

.theme--yellow .theme--color {
  color: #ffb900; }
  .theme--yellow .theme--color.beta {
    color: #ffdd85; }
  .theme--yellow .theme--color.gamma {
    color: #fff4d8; }
  .theme--yellow .theme--color.delta {
    color: #fff8e5; }
.theme--yellow .theme--bg {
  background-color: #ffb900; }
  .theme--yellow .theme--bg.beta {
    background-color: #ffdd85; }
  .theme--yellow .theme--bg.gamma {
    background-color: #fff4d8; }
  .theme--yellow .theme--bg.delta {
    background-color: #fff8e5; }

.theme--green .theme--color {
  color: #69c364; }
  .theme--green .theme--color.beta {
    color: #b7e2b5; }
  .theme--green .theme--color.gamma {
    color: #e8f6e7; }
  .theme--green .theme--color.delta {
    color: #f0f9ef; }
.theme--green .theme--bg {
  background-color: #69c364; }
  .theme--green .theme--bg.beta {
    background-color: #b7e2b5; }
  .theme--green .theme--bg.gamma {
    background-color: #e8f6e7; }
  .theme--green .theme--bg.delta {
    background-color: #f0f9ef; }

.theme--red .theme--color {
  color: #d2003c; }
  .theme--red .theme--color.beta {
    color: #e985a2; }
  .theme--red .theme--color.gamma {
    color: #f8d8e1; }
  .theme--red .theme--color.delta {
    color: #fae5eb; }
.theme--red .theme--bg {
  background-color: #d2003c; }
  .theme--red .theme--bg.beta {
    background-color: #e985a2; }
  .theme--red .theme--bg.gamma {
    background-color: #f8d8e1; }
  .theme--red .theme--bg.delta {
    background-color: #fae5eb; }

.theme--orange .theme--color {
  color: #eb6e00; }
  .theme--orange .theme--color.beta {
    color: #f5ba85; }
  .theme--orange .theme--color.gamma {
    color: #fce9d8; }
  .theme--orange .theme--color.delta {
    color: #fdf0e5; }
.theme--orange .theme--bg {
  background-color: #eb6e00; }
  .theme--orange .theme--bg.beta {
    background-color: #f5ba85; }
  .theme--orange .theme--bg.gamma {
    background-color: #fce9d8; }
  .theme--orange .theme--bg.delta {
    background-color: #fdf0e5; }

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative; }

.grid-wrapper:after {
  content: "";
  display: table;
  clear: both; }

.slice {
  padding-top: 32px;
  padding-bottom: 32px; }
  .slice--top {
    padding-top: 32px; }
  .slice--bottom {
    padding-bottom: 32px; }
  .slice--double {
    padding-top: 64px;
    padding-bottom: 64px; }
    .slice--double--top {
      padding-top: 64px; }
    .slice--double--bottom {
      padding-bottom: 64px; }
  .slice--triple {
    padding-top: 96px;
    padding-bottom: 96px; }
    .slice--triple--top {
      padding-top: 96px; }
    .slice--triple--bottom {
      padding-bottom: 96px; }

.button {
  background: none;
  border: 0;
  padding: 0; }
  .button:focus {
    outline: 0; }

/* 
    Provides extra visual weight and identifies the primary action in a set of buttons.
    <button class="btn">Primary</button>
*/
.btn {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 2.44444;
  font-family: "GothamRounded-Medium", sans-serif;
  letter-spacing: -0.05em;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0 25px;
  text-decoration: none;
  height: 50px;
  background-color: #69c364;
  color: #fff; }

.btn--dual {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.22222;
  height: 76px;
  padding-top: 19px; }
  .btn--dual span {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.28571;
    display: block; }

.social-icon {
  font-family: "icon-font";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .social-icon:before {
    font-size: 18px;
    font-size: 1.125rem;
    width: 30px;
    color: #e4e7e8; }
  .social-icon--facebook:before {
    content: "\E014"; }
  .social-icon--twitter:before {
    content: "\E02D"; }
  .social-icon--email:before {
    content: "\E011"; }
  .social-icon--youtube:before {
    content: "\E02F"; }

input[type="submit"], input[type="search"], input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0; }

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0; }

select:focus, input:focus {
  outline: 0; }

fieldset {
  margin: 0;
  border: 0; }

.form .input {
  position: relative;
  margin-bottom: 32px; }

.form__input {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 16px;
  font-size: 1rem;
  line-height: 3.75;
  border: 1px solid #d7dde1;
  font-family: "GothamRounded-Book";
  padding: 0 20px;
  height: 60px;
  display: inline-block;
  color: #505f69; }
  .form__input--block {
    display: block;
    width: 100%; }

.form__textarea {
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.58824;
  border: 1px solid #d7dde1;
  overflow: auto;
  height: auto !important;
  padding: 16px 20px;
  resize: none; }
  .form__textarea--block {
    display: block;
    width: 100%; }

.form__toggle {
  float: left;
  opacity: 0;
  width: 0;
  height: 0; }
  .form__toggle + label:before {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff; }
  .form__toggle + label {
    cursor: pointer; }

.form__toggle--radio + label:before {
  content: " ";
  border: 1px solid #d7dde1;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 100%;
  box-shadow: 0 0 0 9px #fff inset; }
.form__toggle--radio:checked + label:before {
  background-color: #00bebe;
  box-shadow: 0 0 0 4px #fff inset; }

.form__toggle--checkbox + label:before {
  content: " ";
  border: 1px solid #d7dde1;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.92308;
  font-family: "icon-font";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  text-align: center;
  top: -3px; }
.form__toggle--checkbox:checked + label:before {
  content: "\E028";
  color: #00bebe; }

.form__label {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.375;
  color: #41464b;
  display: inline-block;
  cursor: pointer;
  position: relative; }
  .form__label--block {
    display: block;
    margin-bottom: 8px; }

.form__select {
  position: relative;
  padding-right: 0 !important;
  background-color: #fff;
  border: 1px solid #e4e7e8; }
  .form__select:before, .form__select:after {
    pointer-events: none;
    content: " "; }
  .form__select:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    width: 20px;
    z-index: 1; }
  .form__select:after {
    display: block;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-color: #00bebe;
    border-width: 10px 8px 0 8px;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    display: block;
    margin: auto;
    z-index: 2; }
  .form__select select {
    border: 0;
    border-radius: 0;
    background: none;
    position: relative;
    height: 100%;
    width: 100%; }
    .form__select select ::-webkit-input-placeholder {
      font-family: "GothamRounded-Book"; }
    .form__select select :-moz-placeholder {
      /* Firefox 18- */
      font-family: "GothamRounded-Book"; }
    .form__select select ::-moz-placeholder {
      /* Firefox 19+ */
      font-family: "GothamRounded-Book"; }
    .form__select select :-ms-input-placeholder {
      font-family: "GothamRounded-Book"; }

::-webkit-input-placeholder {
  font-family: "GothamRounded-Book"; }

:-moz-placeholder {
  /* Firefox 18- */
  font-family: "GothamRounded-Book"; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "GothamRounded-Book"; }

:-ms-input-placeholder {
  font-family: "GothamRounded-Book"; }

.justified {
  text-align: justify;
  line-height: 0; }
  .justified:after {
    display: inline-block;
    width: 100%;
    content: " "; }
  .justified > * {
    display: inline-block; }

.list, .nav {
  list-style: none;
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block; }

.nav--stacked > li {
  display: block; }

.nav--banner {
  text-align: center; }

.nav--fit {
  display: table;
  width: 100%; }
  .nav--fit > li {
    display: table-cell; }
    .nav--fit > li > a {
      display: block; }

.nav--justify {
  text-align: justify;
  line-height: 0; }
  .nav--justify:after {
    display: inline-block;
    width: 100%;
    content: " "; }
  .nav--justify .nav__item {
    display: inline-block; }

.panel > *:last-child, .panel > *:last-child > *:last-child, .panel > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0; }

.media {
  display: block; }
  .media, .media__bd {
    overflow: hidden; }

.media__img {
  float: left;
  margin-right: 32px; }

.media__img--rev {
  float: right;
  margin-left: 32px; }

[class*="media__img"] {
  margin-bottom: 0; }
  [class*="media__img"] img {
    display: block; }

.flag {
  display: table;
  width: 100%; }

.flag__item {
  display: table-cell;
  vertical-align: middle;
  width: 100%; }
  .flag--top .flag__item {
    vertical-align: top; }
  .flag--bottom .flag__item {
    vertical-align: bottom; }

[class*="flag__item"]> {
  display: block;
  max-width: none; }

.flag__item--img {
  padding-right: 10px; }
  .flag--rev .flag__item--img {
    padding-right: 0;
    padding-left: 10px; }

@font-face {
  font-family: 'GothamRounded-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/GothamRounded-Bold/GothamRounded-Bold.eot');
  src: url('../fonts/GothamRounded-Bold/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Bold/GothamRounded-Bold.woff') format('woff'), url('../fonts/GothamRounded-Bold/GothamRounded-Bold.ttf') format('truetype'), url('../fonts/GothamRounded-Bold/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg'); }

@font-face {
  font-family: 'GothamRounded-Book';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/GothamRounded-Book/GothamRounded-Book.eot');
  src: url('../fonts/GothamRounded-Book/GothamRounded-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Book/GothamRounded-Book.woff') format('woff'), url('../fonts/GothamRounded-Book/GothamRounded-Book.ttf') format('truetype'), url('../fonts/GothamRounded-Book/GothamRounded-Book.svg#GothamRounded-Book') format('svg'); }

@font-face {
  font-family: 'GothamRounded-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/GothamRounded-Medium/GothamRounded-Medium.eot');
  src: url('../fonts/GothamRounded-Medium/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamRounded-Medium/GothamRounded-Medium.woff') format('woff'), url('../fonts/GothamRounded-Medium/GothamRounded-Medium.ttf') format('truetype'), url('../fonts/GothamRounded-Medium/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg'); }

@font-face {
  font-family: 'Verveine-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Verveine-Regular/Verveine-Regular.eot');
  src: url('../fonts/Verveine-Regular/Verveine-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Verveine-Regular/Verveine-Regular.woff') format('woff'), url('../fonts/Verveine-Regular/Verveine-Regular.ttf') format('truetype'), url('../fonts/Verveine-Regular/Verveine-Regular.svg#Verveine-Regular') format('svg'); }

html {
  font-size: 1em;
  line-height: 1.375; }

body {
  font-family: "GothamRounded-Book";
  font-style: normal;
  font-weight: normal;
  color: #505f69;
  letter-spacing: -0.025em; }

h1, .heading-1 {
  font-size: 7vw;
  line-height: 0.9;
  font-family: "GothamRounded-Bold", sans-serif;
  letter-spacing: -0.05em;
  margin: 0 0 32px;
  font-weight: normal;
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 0.95238;
  margin-bottom: 16px;
  font-size: 78px;
  font-size: 4.875rem;
  line-height: 0.94872; }
  @media only screen and (max-width: 767px) {
    h1, .heading-1 {
      font-size: 42px;
      font-size: 2.625rem;
      line-height: 0.95238;
      margin-bottom: 16px; } }
  @media only screen and (min-width: 1200px) {
    h1, .heading-1 {
      font-size: 78px;
      font-size: 4.875rem;
      line-height: 0.94872; } }

h2, .heading-2 {
  font-size: 5vw;
  line-height: 1;
  font-family: "GothamRounded-Medium", sans-serif;
  letter-spacing: -0.05em;
  margin: 0 0 32px;
  font-weight: normal;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1;
  margin-bottom: 16px;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1; }
  @media only screen and (max-width: 767px) {
    h2, .heading-2 {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 1;
      margin-bottom: 16px; } }
  @media only screen and (min-width: 1200px) {
    h2, .heading-2 {
      font-size: 50px;
      font-size: 3.125rem;
      line-height: 1; } }

h3, .heading-3 {
  font-size: 3.5vw;
  line-height: 1;
  font-family: "GothamRounded-Medium", sans-serif;
  letter-spacing: -0.05em;
  margin: 0 0 32px;
  font-weight: normal;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.04167;
  margin-bottom: 16px;
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 0.95238; }
  @media only screen and (max-width: 767px) {
    h3, .heading-3 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.04167;
      margin-bottom: 16px; } }
  @media only screen and (min-width: 1200px) {
    h3, .heading-3 {
      font-size: 42px;
      font-size: 2.625rem;
      line-height: 0.95238; } }

h4, .heading-4 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1;
  font-family: "GothamRounded-Medium", sans-serif;
  letter-spacing: -0.05em;
  margin: 0 0 16px;
  font-weight: normal;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1;
  margin-bottom: 16px; }
  @media only screen and (max-width: 767px) {
    h4, .heading-4 {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1;
      margin-bottom: 16px; } }

h5, .heading-5 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.04167;
  font-family: "GothamRounded-Medium", sans-serif;
  letter-spacing: -0.05em;
  margin: 0 0 16px;
  font-weight: normal;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1;
  margin-bottom: 16px; }
  @media only screen and (max-width: 767px) {
    h5, .heading-5 {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1;
      margin-bottom: 16px; } }

h6, .heading-6 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1;
  font-family: "GothamRounded-Medium", sans-serif;
  letter-spacing: -0.05em;
  margin: 0 0 16px;
  font-weight: normal; }

p {
  margin: 0 0 32px;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.33333; }
  @media only screen and (max-width: 767px) {
    p {
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 1.33333; } }

strong {
  font-weight: normal;
  font-family: "GothamRounded-Medium", sans-serif;
  letter-spacing: -0.05em; }

b {
  font-weight: normal; }

p, li {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.33333;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.33333;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.375; }
  @media only screen and (max-width: 767px) {
    p, li {
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 1.33333; } }
  @media only screen and (min-width: 767px) {
    p, li {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.375; } }

a {
  text-decoration: none;
  color: inherit; }

.panel > *:last-child, .panel > *:last-child > *:last-child, .panel > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0; }

.panel + .panel {
  margin-top: 32px; }

.col {
  float: left;
  width: 100%;
  margin-height: 1px; }

.m1 {
  width: 100%; }

.m2 {
  width: 50%; }

.m3 {
  width: 33.33333%; }

.m4 {
  width: 25%; }

.grid-wrapper--nest {
  margin-left: -8px; }

.grid-wrapper--nest > .col {
  padding-left: 8px; }

.box-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 50px; }

.box:not(:only-of-type) {
  padding: 5px; }

.box:only-of-type {
  background-color: red; }

.box:nth-last-child(1):first-child, .box:nth-last-child(1):first-child ~ .box {
  outline: 1px dotted red;
  width: 98%; }
.box:nth-last-child(2):first-child, .box:nth-last-child(2):first-child ~ .box {
  outline: 1px dotted red;
  width: 48%; }
.box:nth-last-child(3):first-child, .box:nth-last-child(3):first-child ~ .box {
  outline: 1px dotted red;
  width: 31.33333%; }
.box:nth-last-child(4):first-child, .box:nth-last-child(4):first-child ~ .box {
  outline: 1px dotted red;
  width: 23%; }
.box:nth-last-child(5):first-child, .box:nth-last-child(5):first-child ~ .box {
  outline: 1px dotted red;
  width: 18%; }
.box:nth-last-child(6):first-child, .box:nth-last-child(6):first-child ~ .box {
  outline: 1px dotted red;
  width: 14.66667%; }
.box:nth-last-child(7):first-child, .box:nth-last-child(7):first-child ~ .box {
  outline: 1px dotted red;
  width: 12.28571%; }
.box:nth-last-child(8):first-child, .box:nth-last-child(8):first-child ~ .box {
  outline: 1px dotted red;
  width: 10.5%; }
.box:nth-last-child(9):first-child, .box:nth-last-child(9):first-child ~ .box {
  outline: 1px dotted red;
  width: 9.11111%; }
.box:nth-last-child(10):first-child, .box:nth-last-child(10):first-child ~ .box {
  outline: 1px dotted red;
  width: 8%; }
.box:nth-last-child(11):first-child, .box:nth-last-child(11):first-child ~ .box {
  outline: 1px dotted red;
  width: 7.09091%; }
.box:nth-last-child(12):first-child, .box:nth-last-child(12):first-child ~ .box {
  outline: 1px dotted red;
  width: 6.33333%; }

@media only screen and (min-width: 768px) {
  .t1 {
    width: 100%; }
  .t2 {
    width: 50%; }
  .t3 {
    width: 33.33333%; }
  .t4 {
    width: 25%; }
  .t5 {
    width: 20%; }
  .t6 {
    width: 16.66667%; }
  .t7 {
    width: 14.28571%; }
  .t8 {
    width: 12.5%; }
  .c1 {
    width: 12.5%; }
  .c2 {
    width: 25%; }
  .c3 {
    width: 37.5%; }
  .c4 {
    width: 50%; }
  .c5 {
    width: 62.5%; }
  .c6 {
    width: 75%; }
  .c7 {
    width: 87.5%; }
  .c8 {
    width: 100%; }
  .grid-wrapper--nest {
    margin-left: -16px; }
  .grid-wrapper--nest .col {
    padding-left: 16px; } }

.t1 {
  width: 100%; }

.t2 {
  width: 50%; }

.t3 {
  width: 33.33333%; }

.t4 {
  width: 25%; }

.t5 {
  width: 20%; }

.t6 {
  width: 16.66667%; }

.t7 {
  width: 14.28571%; }

.t8 {
  width: 12.5%; }

.c1 {
  width: 12.5%; }

.c2 {
  width: 25%; }

.c3 {
  width: 37.5%; }

.c4 {
  width: 50%; }

.c5 {
  width: 62.5%; }

.c6 {
  width: 75%; }

.c7 {
  width: 87.5%; }

.c8 {
  width: 100%; }

.grid-wrapper--nest {
  margin-left: -16px; }

.grid-wrapper--nest .col {
  padding-left: 16px; }

@media only screen and (min-width: 1024px) {
  .d1 {
    width: 100%; }
  .d2 {
    width: 50%; }
  .d3 {
    width: 33.33333%; }
  .d4 {
    width: 25%; }
  .d5 {
    width: 20%; }
  .d6 {
    width: 16.66667%; }
  .d7 {
    width: 14.28571%; }
  .d8 {
    width: 12.5%; }
  .d9 {
    width: 11.11111%; }
  .d10 {
    width: 10%; }
  .d11 {
    width: 9.09091%; }
  .d12 {
    width: 8.33333%; }
  .c1 {
    width: 8.33333%; }
  .c2 {
    width: 16.66667%; }
  .c3 {
    width: 25%; }
  .c4 {
    width: 33.33333%; }
  .c5 {
    width: 41.66667%; }
  .c6 {
    width: 50%; }
  .c7 {
    width: 58.33333%; }
  .c8 {
    width: 66.66667%; }
  .c9 {
    width: 75%; }
  .c10 {
    width: 83.33333%; }
  .c11 {
    width: 91.66667%; }
  .c12 {
    width: 100%; }
  .grid-wrapper--nest {
    margin-left: -32px; }
  .grid-wrapper--nest .col {
    padding-left: 32px; } }

.d1 {
  width: 100%; }

.d2 {
  width: 50%; }

.d3 {
  width: 33.33333%; }

.d4 {
  width: 25%; }

.d5 {
  width: 20%; }

.d6 {
  width: 16.66667%; }

.d7 {
  width: 14.28571%; }

.d8 {
  width: 12.5%; }

.d9 {
  width: 11.11111%; }

.d10 {
  width: 10%; }

.d11 {
  width: 9.09091%; }

.d12 {
  width: 8.33333%; }

.c1 {
  width: 8.33333%; }

.c2 {
  width: 16.66667%; }

.c3 {
  width: 25%; }

.c4 {
  width: 33.33333%; }

.c5 {
  width: 41.66667%; }

.c6 {
  width: 50%; }

.c7 {
  width: 58.33333%; }

.c8 {
  width: 66.66667%; }

.c9 {
  width: 75%; }

.c10 {
  width: 83.33333%; }

.c11 {
  width: 91.66667%; }

.c12 {
  width: 100%; }

.grid-wrapper--nest {
  margin-left: -32px; }

.grid-wrapper--nest .col {
  padding-left: 32px; }



/*# sourceMappingURL=style.css.map */