//- load accordion__content into the layout
extends _wrapper/_layout
//- define the block of accordion__content to be placed in the extend
block content

	.wrapper.gutter-row
		h1 Map Example
		#map(data-behaviour="map")