/*
  NOTE

	This file should only contain css related to the grid
	just widths, margins and vertical spacing,
	Any other styling, such as background colours, should be moved to a different
	selector. Nount wrong with 4/5 classes on a single element.
	<div class="g__col gm__1-2 gt__1-3 gd__1-4 cta-box"></div>
	Ideally, if you can, move the cta styling to a child element, leaving the class
	with only grid properties. Oh so reusable, oh so portable
*/


/*
  content property used by the viewport change event
*/

body::before {
	content: "none";
	display: none;
}

@each $break, $key in $breakpoints {
	@include mq($from: breakpoint($break)) {
		body::before {
			content: '#{$break}';
		}
	}
}


/*
  Base default grid root node
	If you need to create a grid with gutters use lost
	If you need to create a grid without gutters, don't bother with lost
	It alls quite a lot of extra css that isn't really needed when
	you have no gutters.
*/


.g__col {
	margin-bottom: gutter(1);
}










/*
  Footer grid modification
*/










/*
  Mobile, see config
*/

@include mq($from: breakpoint('mobile')) {
	.gm {
		lost-flex-container: row;
	}

	.gm__1-2 {
		lost-column: 1/2 2 gutter(1) flex;
		margin-bottom: gutter(1);
	}
}


/*
  Small tablet, see config
*/

@include mq($from: breakpoint('sm-tablet')) {
	.gsmt {
		lost-flex-container: row;
	}

	.gsmt__1-2 {
		lost-column: 1/2 2 gutter(1) flex;
	}

	.gsmt__1-3 {
		lost-column: 1/3 3 gutter(1) flex;
	}

	.gsmt__1-4 {
		lost-column: 1/4 4 gutter(1) flex;
	}
}

/*
  Tablet, see config
*/

@include mq($from: breakpoint('tablet')) {
	.gt {
		lost-flex-container: row;
	}

	.gt__1-2 {
		lost-column: 1/2 2 gutter(1) flex;
	}

	.gt__1-3 {
		lost-column: 1/3 3 gutter(1) flex;
	}

	.gt__1-4 {
		lost-column: 1/4 4 gutter(1) flex;
	}
}


/*
  Desktop, see config
*/

@include mq($from: breakpoint('desktop')) {
	.gd {
		lost-flex-container: row;
	}

	.gd__1-2 {
		lost-column: 1/2 2 gutter(1) flex;
	}

	.gd__1-3 {
		lost-column: 1/3 3 gutter(1) flex;
	}

	.gd__1-4 {
		lost-column: 1/4 4 gutter(1) flex;
	}
}


/*
  Wide, see config
*/

@include mq($from: breakpoint('wide')) {
	.gw {
		lost-flex-container: row;
	}

	.gw__1-2 {
		lost-column: 1/2 2 gutter(1) flex;
	}

	.gw__1-3 {
		lost-column: 1/3 3 gutter(1) flex;
	}

	.gw__1-4 {
		lost-column: 1/4 4 gutter(1) flex;
	}
}
