/*
  content property used by the viewport change event
*/

body::before {
	content: "none";
	display: none;
}

@each $break, $key in $breakpoints {
	@include mq($from: breakpoint($break)) {
		body::before {
			content: '#{$break}';
		}
	}
}
