/*
  Base wrapper
	Add a little side padding for some sweet mobile side spacing
	This class should not be used on the same element as vr class
*/

.wrapper {
	width: 100%;
	max-width: rem($wrapper-width);
	margin: 0 auto;
	padding: 0 gutter(1);
}

.site {
	overflow-x: hidden;
}


