//- load accordion__content into the layout
extends _wrapper/_layout
//- define the block of accordion__content to be placed in the extend
block content

	.wrapper.gutter-row
		h1 Example form - with validation
		form(data-behaviour="form")
			fieldset
				.form__group
					label.form__label(for="name") Name
					input.form__input(type="text" id="name" name="name" placeholder="What is your name?")
					.messages
				.form__group
					label.form__label(for="email") Email
					input.form__input(type="email" id="email" name="email" placeholder="What is your email address?")
					.messages
				.form__group
					label.form__label(for="password") Password
					input.form__input(type="password" id="password" name="password" placeholder="What is your password?")
					.messages
				.form__group
					label.form__label(for="confirm-password") Confirm password
					input.form__input(type="password" id="confirm-password" name="confirm-password" placeholder="Just to be safe, enter your password again")
					.messages
				.form__group
					label.form__label(for="tel") Telephone
					input.form__input(type="tel" id="tel" name="tel" placeholder="What is your telephone number?")
					.messages
				.form__group
					p Some kinda thing
					input(type="checkbox" id="tick1" name="tick1")
					label.form__label(for="tick1") Tick1
					input(type="checkbox" id="tick2" name="tick2")
					label.form__label(for="tick2") Tick2
					input(type="checkbox" id="tick3" name="tick3")
					label.form__label(for="tick3") Tick3
				.form__group
					p Some kinda thing
					label.form__label(for="tock") Tick1
					input(type="radio" id="tock1" name="tock")
					label.form__label(for="tock") Tick2
					input(type="radio" id="tock2" name="tock")
					.messages
				.form__group
					label.form__label(for="options") A thing from a thing
					select(id="options" name="options")
						option(value="" disabled selected) Select
						option(value="opt 1") Option 1
						option(value="opt 2") Option 2
						option(value="opt 3") Option 3
						option(value="opt 4") Option 4
						option(value="opt 5") Option 5
					.messages
				.form__group
					label.form__label(for="message") Message
					textarea(id="message" name="message")
					.messages
				.form__group
					button(type="submit") Send