//- load content into the layout
extends _wrapper/_layout
//- define the block of content to be placed in the extend
block content
	.site
		include _includes/header
		h1 MudStone
		include _includes/footer
