//- load accordion__content into the layout
extends _wrapper/_layout
//- define the block of accordion__content to be placed in the extend
block vars
	-var pageTitle = 'Home page'
	-var slug = 'index.html'
	-var bodyClass = ''

block content
	.wrapper(data-behaviour="obj3")
		.wrapper(data-behaviour="obj2")
			.wrapper(data-behaviour="obj1")