//- load content into the layout
extends _wrapper/_layout
//- define the block of content to be placed in the extend
block content
	.site
		include _includes/header
		section.slice
			.wrapper
				h1 Mudstone
		section.slice
			.wrapper
				.grid-wrapper
					.grid-box
						.panel.panel--alert
							h3 Stuff 
							p Five other things happened other there says Doctor
					.grid-box
						.panel.panel--alert
							h3 Stuff 
							p Five other things happened other there says Doctor
					.grid-box
						.panel.panel--alert
							h3 Stuff 
							p Five other things happened other there says Doctor
					.grid-box
						.panel.panel--alert
							h3 Stuff 
							p Five other things happened other there says Doctor
					.grid-box
						.panel.panel--alert
							h3 Stuff 
							p Five other things happened other there says Doctor
					.grid-box
						.panel.panel--alert
							h3 Stuff 
							p Five other things happened other there says Doctor

		include _includes/footer
