//- load accordion__content into the layout
extends _wrapper/_layout
//- define the block of accordion__content to be placed in the extend
block content

	.wrapper
		h1 Mudstone
		ul
			li
				a(href="/accordion.html") Accordion
			li
				a(href="/carousel.html") Carousel
			li
				a(href="/slide.html") Slide
			li
				a(href="/map.html") Map
			li
				a(href="/video.html") Video