//- load content into the layout
extends _wrapper/_layout
//- define the block of content to be placed in the extend
block content
	.site
		.wrapper-a
			button.button 1
			button.button 2
			button.button 3
			button.button.is-active 4
			button.button 5
		.wrapper-b
			button.button a
			button.button.is-active b
			button.button c
			button.button d
			button.button e