//- load accordion__content into the layout
extends _wrapper/_layout
//- define the block of accordion__content to be placed in the extend
block vars
	-var pageTitle = 'Home page'
	-var slug = 'index.html'
	-var bodyClass = ''

block content
	.js-slide.box(style="background-color: #4ae; width: 100%; height: 500px")
	.js-slide.box(style="background-color: #4ea; width: 100%; height: 500px")
	.js-slide.paralaballs
		img(src="/_assets/images/img1.jpg")
	.js-slide.box(style="background-color: #a4e; width: 100%; height: 500px")
	.js-slide.box(style="background-color: #e4a; width: 100%; height: 500px")