//- load content into the layout
extends _wrapper/_layout
//- define the block of content to be placed in the extend
block content
	.site
		.wrapper-a
			.accordion
				button.button(data-target="#c1") 1
				.content#c1
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
			.accordion
				button.button(data-target="#c2") 2
				.content#c2
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
			.accordion
				button.button(data-target="#c3") 3
				.content#c3
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
			.accordion
				button.button.is-active(data-target="#c4") 4
				.content#c4
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
			.accordion
				button.button(data-target="#c5") 5
				.content#c5
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
		//- .wrapper-b
		//- 	.accordion
		//- 		button.button.is-active(data-target="#c1b") 1
		//- 		.content#c1b
		//- 			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
		//- 	.accordion
		//- 		button.button(data-target="#c2b") 2
		//- 		.content#c2b
		//- 			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
		//- 	.accordion
		//- 		button.button(data-target="#c3b") 3
		//- 		.content#c3b
		//- 			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
		//- 	.accordion
		//- 		button.button(data-target="#c4b") 4
		//- 		.content#c4b
		//- 			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
		//- 	.accordion
		//- 		button.button(data-target="#c5b") 5
		//- 		.content#c5b
		//- 			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
