//- load accordion__content into the layout
extends _wrapper/_layout
//- define the block of accordion__content to be placed in the extend
block content
	.hero.u-panel#Type
		.wrapper.u-text-center
			h1 Type!
			p Styles for the client... wrapped in .s-content
	.wrapper
		.g-t10.g-d7.g-center.gutter-row
			include _examples/type
	.hero.u-panel#Grid
		.wrapper.u-text-center
			h1 Mega Simple Grid!
			p Utilises calc()... see /layout/_structure.scss
	include _examples/grid
	.hero.u-panel#Forms
		.wrapper.u-text-center
			h1 Forms
	.wrapper
		.g-t10.g-d7.g-center.gutter-row
			include _examples/forms
	.hero.u-panel#Forms
		.wrapper.u-text-center
			h1 Accordion
	.wrapper
		.g-t10.g-d7.g-center.gutter-row
			include _examples/accordion
	//- .wrapper
	//- 	.g-t10.g-d7.g-center.gutter-row
	//- 		include _examples/mega-menu
		
