//- load accordion__content into the layout
extends _wrapper/_layout
//- define the block of accordion__content to be placed in the extend
block content
	.hero
		.wrapper.u-text-center
			h1 Mega Simple Grid!
			p Utilises calc()... see /layout/_structure.scss
	.wrapper
		h2 Float
		.g-cf
			.g-col.g-m6.g-t3.g-d12
				span Column
			.g-col.g-m6.g-t3.g-d4
				span Column
			.g-col.g-m6.g-t3.g-d4
				span Column
			.g-col.g-m6.g-t3.g-d4
				span Column
		.g-cf
			.g-col.g-m12.g-t6.g-d12
				span Column
			.g-col.g-m12.g-t6.g-d6
				span Column
			.g-col.g-m8.g-t3.g-d2
				span Column
			.g-col.g-m4.g-t9.g-d4
				span Column
	.wrapper
		h2 Flex
		.g-fx
			.g-col.g-m6.g-t12.g-d12
				span Column
			.g-col.g-m6.g-t8.g-d3
				span Column
			.g-col.g-m6.g-t2.g-d3
				span Column
			.g-col.g-m6.g-t2.g-d6
				span Column
		.g-cf
			.g-col.g-m12.g-t2.g-d12
				span Column
			.g-col.g-m12.g-t10.g-d6
				span Column
			.g-col.g-m6.g-t5.g-d2
				span Column
			.g-col.g-m6.g-t7.g-d4
				span Column

