//- load accordion__content into the layout
extends _wrapper/_layout
//- define the block of accordion__content to be placed in the extend
block vars
	-var pageTitle = 'Home page'
	-var slug = 'index.html'
	-var bodyClass = ''

block content
	.wrapper.gutter-row.accordion(data-behaviour="accordion")
		h1 Accordion Example
		-var n = 0
		while n < 5
			button.button.accordion__btn(data-target="#e#{n}") Item #{n}
			.accordion__content(id="e#{n}")
				.accordion__inner.u-panel
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero, adipisci fugiat sequi minima quas culpa laudantium, eius sit perspiciatis soluta cumque alias expedita. Harum repellendus dolorem sapiente odit eius.
			
			-n++