//- load content into the layout
extends _wrapper/_layout
//- define the block of content to be placed in the extend
block content
	.page2#main
		a(href="/page1.html") Page 1
		a(href="/page2.html") Page 2
		.trans
			h1 Page 2