.wrapper {
	@include g-wrapper();
	padding-left: gutter(1);
	padding-right: gutter(1);
}

.grid-box {
	margin-bottom: gutter(2);
}


@mixin _768-grid-box() {
	.grid-box {
		width: 50%;
		padding: gutter(1);
		margin-bottom: gutter(0);
	}
}

@mixin _960-grid-box() {
	.grid-box {
		width: 33.3333%;
	}
}

@mixin _1024-grid-box() {
	.grid-box {
		width: 25%;
	}
}

@mixin _768-grid-wrapper() {
	.grid-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-left: gutter(-1);
		margin-right: gutter(-1);
	}
}