{% extends "./shell.twig" %}

{% set path = '../includes/' %}

{% block base %}

	{% block header %}
		{% include path ~ "header.twig" %}
	{% endblock %}

	<div id="barba-wrapper" class="site-page">
		<div class="barba-container" data-namespace="{% block namespace %}{% endblock %}">
			{% block content %}
			{% endblock %}
		</div>
	</div>

	{% include path ~ "footer.twig" %}
	{% block extra %}{% endblock %}

{% endblock %}