// for link buttons
// <a href="#" class="btn btn--downloads"></a>
.btn {
	$btn-height: 44;
	@include font-size(18, $btn-height);
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	border: none;
	margin: 0;
	padding: 0 25px;
	text-decoration: none;
	height: $btn-height * 1px;
	&:hover {}
	&:focus {}
}

// reset for actual buttons
// <button type="submit" class="button btn--downloads"></a>
.button {
	background: none;
	border: 0;
	padding: 0;
	cursor: pointer;
}
[disabled] {
	cursor: default;
}

