//
@import 'utils/utils';

// base
@import 'base/type', 
				'base/forms',
				'base/tables',
				'base/buttons',
				'base/icons',
				'base/nav';

// layout

@import 'layout/header', 
				'layout/footer',
				'layout/structure';

// modules

@import 'modules/panels',	
				'modules/accordions', 
				'modules/slides',
				'modules/hero',
				'modules/tabs';


@import 'theme/palette';