//- load accordion__content into the layout
extends _wrapper/_shell
//- define the block of accordion__content to be placed in the extend
block vars
  -var pageTitle = 'Home page'
  -var slug = 'index'
  -var bodyClass = 'has-hero'

block content
  .test(data-behaviour="test")
    button click my face
  .test(data-behaviour="test2")
    button click my face
  //- include _modules/hero
  //- #main
  //-   .wrapper
  //-     #slides
  //-       .vr
  //-         h2 Slide Example
  //-         include _modules/slide
  //-     #videos
  //-       .vr--b
  //-         h2 Video Example
  //-         include _modules/video
  //-     #accordions
  //-       .vr--b
  //-         h2 Accordion Example
  //-         include _modules/accordion
  //-     #map
  //-       .vr--b
  //-         h2 Map
  //-         include _modules/map
  //-     #form
  //-       .vr--b
  //-         h2 Form Example
  //-         include _modules/form
