//- load accordion__content into the layout
extends _wrapper/_shell
//- define the block of accordion__content to be placed in the extend
block vars
  -var pageTitle = 'Home page'
  -var slug = 'index'
  -var bodyClass = 'has-hero'

block content
  div.inview-wrapper(data-behaviour="inview")
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
