extends _wrapper/_layout

block vars
  -var pageTitle = 'Home page'
  -var slug = 'index'
  -var bodyClass = ''

block content
  div.inview-wrapper(data-behaviour="inview")
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
    .js-sv.item
