{% extends "layout/wrapper.njk" %}

{% block title %}{{ title }} | Home page{% endblock %}
{% block bodyClass %}has-hero{% endblock %}

{% block content %}

		<h1 data-behaviour="A B C">A</h1>
	
{% endblock %}


{% block extra %}
{% endblock %}
