{% extends "layout/wrapper.njk" %}


{% block content %}


		<div id="barba-wrapper" class="site-page">
			<div class="barba-container" data-namespace="about">
				<div data-behaviour="Spleen">
					<a href="/index.html">Home</a>
				</div>
			</div>
		</div>
	
{% endblock %}


{% block extra %}
{% endblock %}
