{% extends "layout/wrapper.njk" %}

{% block title %}{{ title }} | Home page{% endblock %}
{% block bodyClass %}has-hero{% endblock %}

{% block content %}

	<div class="b">
		<div id="box"></div>
	</div>
	
{% endblock %}


{% block extra %}
{% endblock %}
