{% extends "layout/wrapper.njk" %}

{% block title %}{{ title }} | Home page{% endblock %}
{% block bodyClass %}has-hero{% endblock %}

{% block content %}
	<div data-behaviour="ModalSteps">
		<a data-modal-screen="#modal-1">Modal 1</a>
		<div id="modal-1" class="modal-hider">Modal 1 content</div>
		<div id="modal-2" class="modal-hider"><img src="/dist/images/demo_img_1.jpg" /></div>
		<div id="modal-3" class="modal-hider">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione veniam, consequuntur facere amet! Ab itaque debitis minus odio nisi accusantium cum, temporibus porro nulla ad.</div>
		<div id="modal-4" class="modal-hider"><img src="/dist/images/demo_img_1.jpg" /></div>
		<div id="modal-5" class="modal-hider">Modal 5 content</div>
	</div>

	<div class="modal">
		<div class="modal-inner">
			<a data-modal-close>Close</a>
			<div class="modal-content"></div>
			<a data-modal-prev>Prev</a>
			<a data-modal-next>Next</a>
		</div>
	</div>
{% endblock %}


{% block extra %}
{% endblock %}
