{% extends "layout/wrapper.njk" %}

{% block title %}{{ title }} | Home page{% endblock %}
{% block bodyClass %}has-hero{% endblock %}

{% block content %}

		<div class="wrapper">
			<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, ducimus!</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore consequatur maiores laborum quas magnam est. Facere nobis libero quaerat dolores voluptatem ut earum non quae, quas asperiores. Sunt, facilis perferendis.</p>
			<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, ducimus!</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore consequatur maiores laborum quas magnam est. Facere nobis libero quaerat dolores voluptatem ut earum non quae, quas asperiores. Sunt, facilis perferendis.</p>
			<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, ducimus!</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore consequatur maiores laborum quas magnam est. Facere nobis libero quaerat dolores voluptatem ut earum non quae, quas asperiores. Sunt, facilis perferendis.</p>
			<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, ducimus!</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore consequatur maiores laborum quas magnam est. Facere nobis libero quaerat dolores voluptatem ut earum non quae, quas asperiores. Sunt, facilis perferendis.</p>
			<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, ducimus!</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore consequatur maiores laborum quas magnam est. Facere nobis libero quaerat dolores voluptatem ut earum non quae, quas asperiores. Sunt, facilis perferendis.</p>
			<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, ducimus!</h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore consequatur maiores laborum quas magnam est. Facere nobis libero quaerat dolores voluptatem ut earum non quae, quas asperiores. Sunt, facilis perferendis.</p>
		</div>
	
{% endblock %}


{% block extra %}
{% endblock %}
