header.site-header.wrapper(data-behaviour="mobileMenu")
  h1.site-logo
    a(href="/")
      span MudStone
  a.menu__btn.js-mobile-nav-btn(data-target="#menu" href="#")
    span
  nav.menu.site-menu#menu
    .js-menu-wrapper.menu__wrapper
      ul.r-ul.nav.js-menu-container
        li.menu__item.t-menu
          a(href="#slides") Slides
        li.menu__item.t-menu
          a(href="#videos") Videos
        li.menu__item.t-menu
          a(href="#accordions") Accordions
        li.menu__item.t-menu
          a(href="#map") Map
        li.menu__item.t-menu
          a(href="#form") Form
        li.menu__item.t-menu
          a(href="#map") Map
        li.menu__item.t-menu
          a(href="/grid.html") Grid
