.footer
  .footer__wrap
    .footer__nav
      ul.nav.nav--footer
        li.nav__item
          a(href = "#") Us
        li.nav__item
          a(href = "#") Dates
        li.nav__item
          a(href = "#") Voices
        li.nav__item
          a(href = "#") Projects
        li.nav__item
          a(href = "#") Stories
    .footer__connect
      ul.nav.nav--connect
        li.nav__item.nav--connect__em
          a(href = "#") Newsletter Signup
        li.nav__item
          a.icon.icon--tweet(href = "#")
        li.nav__item
          a.icon.icon--facebook(href = "#")
        li.nav__item
          a.icon.icon--pinterest(href = "#")
