
@if $debug == true {
  body {
    &:after {
      @include position(fixed, null null 0 0);
      font-size: 12px;
      background-color: $black;
      color: $white;
      content: 'root';
      display: block;
      padding: gutter(.25);
      z-index: 100001;
      @each $name, $breakpoint in $breakpoints {
        @include mq($breakpoint, min) {
          content: '#{$name} => #{$breakpoint}';
        }
      }
    }
  }


  // @debug 'modular-scale(-4)' modular-scale(-4) + 'px';
  // @debug 'modular-scale(-3)' modular-scale(-3) + 'px';
  // @debug 'modular-scale(-2)' modular-scale(-2) + 'px';
  // @debug 'modular-scale(-1)' modular-scale(-1) + 'px';
  // @debug 'modular-scale(0)'  modular-scale(0) + 'px';
  // @debug 'modular-scale(1)'  modular-scale(1) + 'px';
  // @debug 'modular-scale(2)'  modular-scale(2) + 'px';
  // @debug 'modular-scale(3)'  modular-scale(3) + 'px';
  // @debug 'modular-scale(4)'  modular-scale(4) + 'px';
  // @debug 'modular-scale(5)'  modular-scale(5) + 'px';
  // @debug 'modular-scale(6)'  modular-scale(6) + 'px';
  // @debug 'modular-scale(7)'  modular-scale(7) + 'px';

}