$icons: (
      sprite: (width: 31px, height: 31px, pngPath: '../img/sprite.png', svgPath: '../img/sprite.svg'),
     grid: (name: $grid, width: 31px, height: 31px, backgroundX: 0px, backgroundY: 0px),
);