@import '../../node_modules/modularscale-sass/stylesheets/_modularscale.scss';
@import '../../node_modules/sass-mq/mq.scss';
@import 'susy';
@import "normalize";

// @include normalize();


/*
  Settings
*/

@import '_config/settings';
@import '_config/colors';
@import '_config/dimensions';
@import '_config/type-config';



/*
  Utility functions
*/

@import '_system/core/utilities';


/*
  Media query debugger
*/

@import '_config/debug';


/*
  Custom, site specific mixins
*/

@import '_system/site-mixins/mixins';


/*
  svg-symbols generated via `gulp symbols`
*/

@import '_system/gulp-output/svg-symbols';
@import '_system/gulp-output/svg-sprites';

/*
  Reset util classes, single class name, easy to overwrite later on
  Prefix classes with r-
*/
@import 'base/reset';

/*
  Low level styles, no nesting, single class names, no media queries
  Typography, Buttons, Tables, Form elements, Etc
*/
@import 'base/type';
@import 'base/buttons';
@import 'base/forms';

/*
  This grid
  Prefix classes with g-
*/
@import 'layout/grid';

/*
  Layout global components etc
  Max specificity of 2
  *Layout* media queries should go here
*/
@import 'layout/header';
@import 'layout/footer';
@import 'layout/navigation';
@import 'layout/structure';

/*
  Modules styles only
  Max specificity of 2
  *Layout* media queries should go here
*/
@import 'modules/wysiwyg';

/*
  Utility classes, these should always win, go crazy with import
  Prefix classes with u-
*/
@import 'utils/index';

/*
  Print styles
*/
@import 'print';

/*
  Shame, hacks, overwrites, sad panda
  This file *should* be blank!
*/
@import 'utils/shame';
