$breakpoints: (
  mobile:  320px,
  sm-tablet:500px,
  tablet:  740px,
  desktop: 980px,
  wide:    1300px
);

$wrapper-width: 1280px;

$base-padding: 20px;

// 4 symmetrical, fluid columns
// gutters are 1/4 the size of a column
// elements span 1 less gutter than columns
// containers span 1 less gutter as well
$susy: (
  'columns': susy-repeat(4),
  'gutters': 0.25,
  'spread': 'narrow',
  'container-spread': 'narrow',
);