/*
  postcss plugins:
  https://github.com/arccoza/postcss-aspect-ratio
  https://github.com/peterramsing/lost
  https://github.com/jonathantneal/postcss-write-svg
  https://github.com/zhouwenbin/postcss-animation

  node includes
  https://github.com/modularscale/modularscale-sass
*/


/*
  Utility functions
*/
@import '_system/core-mixins/utility-functions';

/*
  easing functions http://easings.net/
*/
@import '_system/core-mixins/easing';

/*
  mq mixin from https://github.com/sass-mq/sass-mq
*/
@import '_system/core-mixins/mq';
@import '_system/core-mixins/type';

/*
  svg-symbols generated via `gulp symbols`
*/
@import '_system/gulp-output/svg-symbols';

/*
  Site variables, go nuts!
*/
@import '_config/variables';

/*
  debug, $debug = true ?
*/
@import '_config/_debug';

/*
  Adapted normalize (stuff we don't use/need removed)
*/
@import 'base/mudmalize';

/*
  Reset util classes, single class name, easy to overwrite later on
  Prefix classes with r-
*/
@import 'base/reset';

/*
  Low level styles, no nesting, single class names, no media queries
  Typography, Buttons, Tables, Form elements, Etc
*/
@import 'base/type';
@import 'base/tables';
@import 'base/buttons';

/*
  This grid
  Prefix classes with r-
*/
@import 'layout/grid';

/*
  Layout global components etc
  Max specificity of 2
  *Layout* media queries should go here
*/
@import 'layout/header';
@import 'layout/footer';
@import 'layout/navigation';

/*
  Modules styles only
  Max specificity of 2
  *Layout* media queries should go here
*/
@import 'modules/wysiwyg';

/*
  Utility classes, these should always win, go crazy with import
  Prefix classes with u-
*/
@import 'utils/index';

/*
  Print styles
*/
@import 'utils/print';

/*
  Shame, hacks, overwrites, sad panda
  This file *should* be blank!
*/
@import 'utils/shame';
