/*
  postcss plugins:
  https://github.com/arccoza/postcss-aspect-ratio
  https://github.com/peterramsing/lost
  https://github.com/jonathantneal/postcss-write-svg
  https://github.com/zhouwenbin/postcss-animation
  https://github.com/pascalduez/postcss-quantity-queriespostcs
  https://github.com/jedmao/postcss-triangle

  node includes
  https://github.com/modularscale/modularscale-sass
*/

@import '../../node_modules/modularscale-sass/stylesheets/_modular-scale.scss';

/*
  Utility functions
*/
@import '_system/core-mixins/utility-functions';

/*
  easing functions http://easings.net/
*/
@import '_system/core-mixins/easing';

/*
  mq mixin from https://github.com/sass-mq/sass-mq
*/
@import '_system/core-mixins/mq';
@import '_system/core-mixins/type-helpers';

/*
  Custom, site specific mixins
*/
@import '_system/site-mixins/mixins';

/*
  svg-symbols generated via `gulp symbols`
*/
@import '_system/gulp-output/svg-symbols';

/*
  Site variables, go nuts!
*/
@import '_config/typography';
@import '_config/variables';

/*
  debug, $debug = true ?
*/
@import '_config/_debug';

/*
  Adapted normalize (stuff we don't use/need removed)
*/
@import 'base/mudmalize';

/*
  Reset util classes, single class name, easy to overwrite later on
  Prefix classes with r-
*/
@import 'base/reset';

/*
  Low level styles, no nesting, single class names, no media queries
  Typography, Buttons, Tables, Form elements, Etc
*/
@import 'base/type';
@import 'base/tables';
@import 'base/buttons';
@import 'base/forms';

/*
  This grid
  Prefix classes with g-
*/
@import 'layout/grid';

/*
  Layout global components etc
  Max specificity of 2
  *Layout* media queries should go here
*/
@import 'layout/header';
@import 'layout/footer';
@import 'layout/navigation';
@import 'layout/structure';

/*
  Modules styles only
  Max specificity of 2
  *Layout* media queries should go here
*/
@import 'modules/form-example';
@import 'modules/slide';
@import 'modules/hero';
@import 'modules/video';
@import 'modules/map';
@import 'modules/accordion';
@import 'modules/wysiwyg';
@import 'modules/scroll-view';

/*
  Utility classes, these should always win, go crazy with import
  Prefix classes with u-
*/
@import 'utils/index';

/*
  Print styles
*/
@import 'utils/print';


/*
  No JS styles
*/
@import 'utils/no-js';

/*
  Shame, hacks, overwrites, sad panda
  This file *should* be blank!
*/
@import 'utils/shame';

body {
  background: yellow;
}