<header class="site-header">
	<nav class="menu">
		<ul class="r-ul menu__list">
			{% for entry in menu %}
				<li class="menu__item">
					<a href="{{ entry.url }}" class="menu__link">{{ entry.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>
