include ../_mixins/mixins
doctype
block vars
doctype
<!--[if IE]>
<html lang="en" class="no-js ie">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
    head
        //- Remove script tag if modernizr is being used
        meta(charset='utf-8')
        title Amanda Stockley
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //-
          include ../_includes/favicons
        include ../_includes/scripts
        //-
          include ../_includes/critical-css
        link(rel='stylesheet', href='/dist/css/style.css')

        //-
          Load css function, Load js function
          link(rel="preload" href="/dist/css/style.css" as="style" onload="this.rel='stylesheet'")
          noscript
            link(rel="stylesheet" href="/dist/css/style.css")

    body(class=`${bodyClass !== undefined && bodyClass}`)
        .site
            include ../_includes/header
            .site-page#barba-wrapper
                .barba-container
                    block content
            include ../_includes/footer
            include ../_includes/symbols
        // build:js
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script.
          window.jQuery || document.write('<script src="/dist/js/libs/jquery.min.js"><\\/script>')
        script(src='/dist/js/app.js')
        // endbuild
