{% extends "layout/wrapper.njk" %}

{% block title %}MudStone | Home page{% endblock %}

{% block content %}

	<h1>Mudstone {{ title }} This is turbo keen</h1>
	{% include "partials/accordion.njk" %}
{% endblock %}


{% block extra %}
{% endblock %}
