{% extends "layout/shell.njk" %}


{% block base %}


	<div data-behaviour="Root">
		<button>Click Me</button>
	</div>
	<div data-behaviour="Spleen">
		<button>Click Me</button>
	</div>
	
{% endblock %}


{% block extra %}
{% endblock %}
