{% extends "layout/wrapper.njk" %}

{% block title %}MudStone | Home page{% endblock %}
{% block bodyClass %}home-page{% endblock %}

{% block content %}

	<h1>Mudstone {{ title }} This is turbo keen</h1>
	
{% endblock %}


{% block extra %}
{% endblock %}
