$ie: false;
// using  node-bourbon, see ./gulp/config.js
@import "bourbon";
// gulp generated scss
// stores variables used by svg/icon mixins
@import '_system/gulp/png-sprites';
@import '_system/gulp/svg-sprites';
@import '_system/gulp/svg-symbols';
// functions
@import '_system/tools/tools-functions';
// Libraries and dependencies
// latest version of normalize - with img/fieldset
@import '_system/libs/normalize';
@import '_config/variables';
// tools - mixins and functions
// these shouldn't need to be changed
@import '_system/tools/tools-helpers';
@import '_system/tools/tools-grid';
@import '_system/tools/tools-images';
@import '_system/tools/tools-type';
// views and components
// config/fonts
// @import '_config/variables'; -- imported at root level (function/tool dependencies)
@import '_config/fonts';
@import '_config/debug';
 
// base elements
// First elements to be styled
// No nesting or important... low specificity
@import 'base/type';
@import 'base/forms';
@import 'base/tables';
@import 'base/buttons';
@import 'base/icons';
@import 'base/list';
// layout and structure
// Maximum 2 levels of specificity  
@import 'layout/header';
@import 'layout/footer';
@import 'layout/navigation';
@import 'layout/structure';
// modules and components, should work independently from the layout
// Maximum 3 levels of specificity  
@import 'modules/panels';
@import 'modules/accordion';
@import 'modules/wysiwyg';
@import 'modules/tabs';
@import 'modules/carousel';
@import 'modules/slide';
@import 'modules/map';
@import 'modules/video';
@import 'modules/hero';
 
// views, mediaquery stuff 
// Maximum 3 levels of specificity  

body:before {
  content: "mobile";
  display: none; /* Prevent from displaying. */
}

@media screen and (min-width:540px){
	// don't expose 540 breakpoint to Viewport helper utility
	// unless you want to
	// body:before {
	// 	content: "540";
	// }
	@import 'views/540-up';
}

@media screen and (min-width:768px){
	body:before {
		content: "tablet";
	}
	@import 'views/768-up';
}


@media screen and (min-width:1200px){
	body:before {
		content: "desktop";
	}
	@import 'views/1200-up';
}
// utils - these should generally trump other selectors, 
// important is fine here
@import 'utils/utils';
// final exceptions/shame
@import 'views/exceptions';

@import 'print';
