include ../mixins/mixins
doctype
<!--[if IE 8]><html class="ie-8"><![endif]-->
<!--[if gt IE 8]><!-->
html<!--<![endif]-->
    head
        meta(charset='utf-8')
        title Mudstone Boilerplate
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='#{path}css/style.css', media='screen AND (min-width:180px)')
        link(rel="shortcut icon", href="/favicon.ico" type="image/x-icon")
        //- custom modernizr script, only tests for touch events
        script(src='#{path}js/vendor/modernizr.min.js')
    body
        .site
            include ../includes/header
            block content
            include ../includes/footer
        script(src='#{path}js/dist/app.js')