doctype
html.no-js
  include ../includes/head.jade
  body
    //- Add your site or application content here
    .site   
      block content
      
      include ../includes/footer.jade   
    include ../includes/script.jade