ul.r-ul.accordion(data-behaviour="accordion")
  li.expander__wrap
    a.expand__btn.js-expand-btn(href="#e1") Accordion Button 1
    #e1.expand__content.js-expand-content
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia cumque itaque eaque fugiat ducimus dolor rerum, et quibusdam labore minima tempore laboriosam rem porro eum aspernatur commodi incidunt accusamus.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia cumque itaque eaque fugiat ducimus dolor rerum, et quibusdam labore minima tempore laboriosam rem porro eum aspernatur commodi incidunt accusamus.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia cumque itaque eaque fugiat ducimus dolor rerum, et quibusdam labore minima tempore laboriosam rem porro eum aspernatur commodi incidunt accusamus.
  li.expander__wrap
    a.expand__btn.js-expand-btn(href="#e2") Accordion Button 1
    #e2.expand__content.js-expand-content
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia cumque itaque eaque fugiat ducimus dolor rerum, et quibusdam labore minima tempore laboriosam rem porro eum aspernatur commodi incidunt accusamus.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia cumque itaque eaque fugiat ducimus dolor rerum, et quibusdam labore minima tempore laboriosam rem porro eum aspernatur commodi incidunt accusamus.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia cumque itaque eaque fugiat ducimus dolor rerum, et quibusdam labore minima tempore laboriosam rem porro eum aspernatur commodi incidunt accusamus.
  li.expander__wrap
    a.expand__btn.js-expand-btn(href="#e3") Accordion Button 3
    #e3.expand__content.js-expand-content
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia cumque itaque eaque fugiat ducimus dolor rerum, et quibusdam labore minima tempore laboriosam rem porro eum aspernatur commodi incidunt accusamus.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia cumque itaque eaque fugiat ducimus dolor rerum, et quibusdam labore minima tempore laboriosam rem porro eum aspernatur commodi incidunt accusamus.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia cumque itaque eaque fugiat ducimus dolor rerum, et quibusdam labore minima tempore laboriosam rem porro eum aspernatur commodi incidunt accusamus.
  li.expander__wrap
    a.expand__btn.js-expand-btn(href="#e4") Accordion Button 4
    #e4.expand__content.js-expand-content
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia cumque itaque eaque fugiat ducimus dolor rerum, et quibusdam labore minima tempore laboriosam rem porro eum aspernatur commodi incidunt accusamus.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia cumque itaque eaque fugiat ducimus dolor rerum, et quibusdam labore minima tempore laboriosam rem porro eum aspernatur commodi incidunt accusamus.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia cumque itaque eaque fugiat ducimus dolor rerum, et quibusdam labore minima tempore laboriosam rem porro eum aspernatur commodi incidunt accusamus.
  li.expander__wrap
    a.expand__btn.js-expand-btn(href="#e5") Accordion Button 5
    #e5.expand__content.js-expand-content
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia cumque itaque eaque fugiat ducimus dolor rerum, et quibusdam labore minima tempore laboriosam rem porro eum aspernatur commodi incidunt accusamus.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia cumque itaque eaque fugiat ducimus dolor rerum, et quibusdam labore minima tempore laboriosam rem porro eum aspernatur commodi incidunt accusamus.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia cumque itaque eaque fugiat ducimus dolor rerum, et quibusdam labore minima tempore laboriosam rem porro eum aspernatur commodi incidunt accusamus.
