form.form--example(data-behaviour="formValidation")
  fieldset
    .form__group.js-input-wrap
      label.form__label(for="frm_name") Name
      input.form__input(type="text" name="frm_name" id="frm_name" required)
    .form__group.js-input-wrap
      label.form__label(for="frm_email") Email
      input.form__input(type="email" name="frm_email" id="frm_email" required)
    .form__group
      .form-toggle
        input.form-toggle__input(type="radio" name="ra" id="ra1")
        label.form-toggle__label.form-toggle__label--radio(for="ra1") Item 1
      .form-toggle
        input.form-toggle__input(type="radio" name="ra" id="ra2")
        label.form-toggle__label.form-toggle__label--radio(for="ra2") Item 2
    .form__group
      .form-toggle
        input.form-toggle__input(type="checkbox" name="ch" id="ch1")
        label.form-toggle__label.form-toggle__label--checkbox(for="ch1") Item 1
      .form-toggle
        input.form-toggle__input(type="checkbox" name="ch" id="ch2")
        label.form-toggle__label.form-toggle__label--checkbox(for="ch2") Item 2
    .form__group
      label.form__label(for="frm_email") Options
      .form__input.form__input--select
        select(type="email" name="frm_email" id="frm_email")
          option(selected disabled) Option 1
          option Option 2
          option Option 3
          option Option 4
          option Option 5
          option Option 6
          option Option 7
    .form__group.js-input-wrap
      label.form__label(for="frm_msg") Message
      textarea.form__input.form__input--area(name="frm_msg" id="frm_msg" required)
    .form__group
      button.button.form__button(type="submit") Send
