.slide.slide--right(data-behaviour="carousel")
  .slice__list.js-slide-wrapper
    .slide__item.js-slide-item
      img.slide__img(src="https://source.unsplash.com/category/buildings/1600x900" width="1600" height="900")
    .slide__item.js-slide-item
      img.slide__img(src="https://source.unsplash.com/category/nature/1600x900" width="1600" height="900")
    .slide__item.js-slide-item
      img.slide__img(src="https://source.unsplash.com/category/people/1600x900" width="1600" height="900")
    .slide__item.js-slide-item
      img.slide__img(src="https://source.unsplash.com/category/technology/1600x900" width="1600" height="900")
    .slide__item.js-slide-item
      img.slide__img(src="https://source.unsplash.com/category/objects/1600x900" width="1600" height="900")
