// // boilerplate navigation styles
// // not much styling, just resetting

// // reset the list style
// .nav {
//     list-style:none;
//     margin: 0;
//     padding: 0;
// }

// // <li> class
// .nav__item {
// 	display:inline-block;
// }

// // forces nav in to a vertical list	
// .nav--stacked {
//     > li {
//         display:block;
//     }
// }

