/*
    File: _assets/css/scss/_libs-vars.scss
*/

// Typography

    $base-font-size: 16;

// Colours

    $white                  :#fff;
    $black                  :#000;

    // http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
    // use eg palette(accent,light)
    $palettes: (
        accent: (
            light   :#28eaba,
            base    :#00eabb,
            dark    :#008564,
        ),
        grey: (
            light   :#fefefe,
            base    :#f4f4f4,
            dark    :#c7c7c7
        ),
        blue: (
            base    :#6f9ce5
        ),
        red: (
            base    :#f54c50
        ),

    );

// Layout

    $break-small            :640px;
    $break-large            :954px;