/*
    File: _assets/css/scss/_libs-mixins.scss
        Preference for third-party mixin libraries is to use Bourbon
        See https://github.com/thoughtbot/bourbon
*/

// Typography

    @mixin font-face($font-family,  $font-url, $font-name) {
        @font-face {
          font: {
              family: $font-family;
              style: normal;
              weight: normal;
          }
          src: url($font-url + '.eot');
          src: url($font-url + '.eot?#iefix') format('embedded-opentype'), 
               url($font-url + '.woff') format('woff'), 
               url($font-url + '.ttf')  format('truetype'),
               url($font-url + '.svg#' + $font-name) format('svg');
        }
    }
    

    @mixin font-size($font-size, $line-height: true) {
        
        font-size: $font-size;
        font-size: ($font-size / $typecsset-base-font-size) * 1rem;
        
        @if $line-height == true {
          line-height: ceil($font-size / $typecsset-base-line-height) * ($typecsset-base-line-height / $font-size);
        } 
        @elseif $line-height != false {
          @if type-of($line-height) == number {
            @if unitless($line-height) {
              line-height: computeLineHeight($font-size, $line-height);
            }
          }
        }
    }
    
    @mixin font-type($font: 'base') {
        @if $font == bold {
        // web font/font stack here
        // font-family:'Avenir Next W04 Demi';
        // font-weight: bold;
        } @else if $font == italic {
        // web font/font stack here
        // font-family:'AvenirNextW02-LightItal';
        // font-style: italic;
        } @else  {
        // web font/font stack here
        // font-family:'Avenir Next W02 Light';
        // font-weight: normal;
        }
        font-weight: normal;
        font-style: none;
    }

// Colours

// Layout

    @mixin clearfix{
    	*zoom: 1;
    	&:before,
    	&:after {
    	  display: table;
    	  content: "";
    	  line-height: 0;
    	}
    	&:after {
    	  clear: both;
    	}
    }