/*
    File: _assets/css/scss/_libs-functions.scss
*/

// Map helper functions

  // usage
  // set a key/value in a map
  @function map-set($map, $key, $value) {
    $new: ($key: $value);
    @return map-merge($map, $new);
  }


// Typography

// Colours

    // http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
    // use eg palette(accent,light)
    @function palette($palette, $tone: 'base') {
        @return map-get(map-get($palettes, $palette), $tone);
    }

// Layout