/*
    File: _assets/css/scss/_mixins.scss
    Preference for third-party mixin libraries is to use Bourbon    
    See https://github.com/thoughtbot/bourbon
*/


//Font size mixin
@mixin font-size($size) {
  font-size: $size + px;
  font-size: ($size / $base-font-size) + em;
}


//clear fix mixin
@mixin clearfix{
	*zoom: 1;

	&:before,
	&:after {
	  display: table;
	  content: "";
	  line-height: 0;
	}
	&:after {
	  clear: both;
	}
}

//Border radius mixin
@mixin border-radius($radius: 5px) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

//applying css transitions
@mixin transitions($type: all) {
    -webkit-transition: $type 0.3s ease-in-out;
    -moz-transition: $type 0.3s ease-in-out;
    -o-transition: $type 0.3s ease-in-out;
    transition: $type 0.3s ease-in-out;
}
