/*
    File: _assets/css/scss/_views-core.scss
        This is the base, mobile-first view CSS.
        Mobile-specific styles should be added here under Exceptions

        1.  Baseline
            Core/generic rules for this context

        2.  Layout
            Page layout rules, eg for columns
            As a general rule width, padding and margin stuff here

        3.  Typography
            Typographic rules: headings, lists, etc

        4.  Elements
            HTML elements base rules

        5.  Components
            Components within the site, eg navigation, carousels, etc
            Ideally context and element agnostic

        6.  Exceptions
            Media queries targetting specific/edge-case CSS

        7.  Hacks
            Idiosyncratic styles for browser support, etc

*/


// === 1.  Baseline
body {
    // use palette() function
    background-color: $white;
    // use palette() function
    color: $black;
}

// === 2.  Layout

// === 3.  Typography

body {
    @include font-size(16);
    @include font-type();
}
h1, h2, h3, h4, h5, h6 {
    @include font-type(bold);
}
bold, strong {
    @include font-type(bold);
}
em, i {
    @include font-type(italic);
}

// === 4.  Elements

img {
    width: 100%;
    max-width: 100%;
}

a {
    color: palette(accent,dark);
    &:hover, &:focus {
        color: palette(accent,dark);
    }
}

// === 5.  Components

// === 6.  Exceptions

// === 7.  Hacks