//    File: _assets/css/scss/style.scss
//
//    Use spaces not tabs
// 
//    # Selectors
//
//    One selector per line, One rule per line
//    Don't use IDs as selectors
//    Use hyphens to concatenate class names, eg body-container not bodyContainer or body_container
//    Use BEM syntax:  
//        Block 
//        Block__element
//        Block--modifier 
//
//    # Properties
// 
//    List related properties together
//    If the value of the width or height is 0, do not specify units
//    Avoid magic numbers, eg numbers used as  quick fixes on a one-off basis
//    Close final property with a semi-colon
//    Err towards shorthand where avaliable, eg border, background, etc
//
//    # SASS/SCSS
//
//    All Vendor Prefixes Use @mixins
//    Maximum Nesting: Three Levels Deep
//    Maximum Nesting: 50 Lines
//
//    Locally compile Expanded
//    For Deployment compile Compressed
//
//    Be Generous With Comments
//
//    Variablize All Common Numbers, and Numbers with Meaning
//    Variablize All Colors
//
//    Nest and Name Your Media Queries
//
//    Shame Last
$ie: false;

// using  node-bourbon, see ./gulp/config.js
@import "bourbon";


// gulp generated scss
@import 'gulp/png-sprites';
@import 'gulp/svg-sprites';
@import 'gulp/icon-font';

// Libraries and dependencies
@import 'libs/libs-reset';
@import 'libs/libs-vars';
// help mixins
// tools
@import 'tools/tools-functions';
//@import 'tools/tools-grid';
@import 'tools/tools-easing';
@import 'tools/tools-helpers';
@import 'tools/tools-images';
@import 'tools/tools-layout';
@import 'tools/tools-type';

// project specific mixins
@import 'libs/libs-mixins';

// external libraries go here
// @import 'libs-gridset';
@import 'libs/libs-utils';
@import 'views/views-core';

@import 'components/manifest';

@import 'views/views-beta';